[2012-01-18 04:40] simensen opened #1 "Should be able to generate content based on external rules (generators)"
Right now there is a 1:1 relationship between source fles and output files. There needs to be a way to generate output in addition to based on other rules and sets of data than directly mapping from source files.

[2012-01-18 04:44] simensen opened #2 "Should be able to paginate data providers"
This should involve building a pagination bundle to handle arbitrarily paginating any data source in a generator.

[code]

Depends on generators (#1).

[2012-01-18 04:46] simensen opened #3 "Should be able to have Sources that are not based on files"
The `SourceFile` class has worked its way into too many things. It should be refactored to be `ISource` and `SourceFile` should implement it. This will be useful (required?) for supporting generators (#1).

[2012-01-18 04:51] simensen opened #4 "Should be able to reference view resources in a uniform way"
Bundles should be able to provide their own template implementations and sites should be able to override those locally.

This would look like specifying:

[code]

In this case, the lookup path should be something along the lines of:
- #{twig.views}/bundles/TagsBundle/tag.twig
- vendor/acme/sculpin-tags-bundle/src/Acme/SculpinTagsBundle/resources/views/tag.twig

[2012-01-18 04:53] simensen opened #5 "Should be able to manage permalink strategies"
There needs to be a way to configure various permalink strategies on a source by source basis. This should be separate from both source and from output, though it is possible that source may have a permalink instance.

[2012-01-18 05:38] simensen opened #6 "Should be able to add 3rd party bundles (composer)"
Should integrate with composer in order to provide support for 3rd party bundles.

[2012-01-18 05:39] simensen opened #7 "Should be able to download sculpin.phar"
There should be an easy way to download sculpin by way of phar. This is a combination of finishing the compiler, creating a build script, and managing the website.

[2012-01-18 07:05] simensen opened #8 "Should be able to dump internal configuration"
For integration with external tools (rake, phing, etc.) Sculpin should be able to dump its configuration. YAML format comes to mind.

[2012-01-18 07:11] simensen opened #9 "Should be able to magically retain XML extension"
Somewhat related to permalink handling. (#5) Right now an XML file needs to be renamed via. manual permalink entry to retain the .xml extension.

[2012-01-18 21:36] #8 closed, assigned to simensen

[2012-01-20 03:47] simensen opened #10 "Should have Sculpin interfaces package so bundles can depend on something other than Sculpin itself."
Bundles will need access to Sculpin. Sculpin interfaces package should be stable and change rarely. Might also involve creating a Sculpin interface test package to provide a testing framework for interfaces such that they won't need fullblown sculpin to test their implementations. Sculpin itself should depend on the interface.

This may be silly. :) But it might be worth trying out. Benefits would

[2012-01-24 02:37] simensen opened #11 "Should be able to generate custom builds of sculpin.phar with custom bundle sets"
This would involve making the compiler instance aware. Possibly providing `compile-sculpin` as a bin?

[2012-01-30 06:37] simensen opened #12 "Should be able to make changes to a data provider and have any page that references it update"
For example, if a page uses `data.posts` and a specific post changes, the page that used `data.posts` should be updated as well. This should _not_ require all Posts to update, though. Just anything that references `data.posts`.

This could be too complicated and out of scope. It might be possible that everything that is generated might need to be refreshed if anything that feeds data is updated. W

[2012-01-30 15:33] simensen opened #13 "Should have a system cache that bundles can reference and clear"
For example, some bundles may get data from the network that they might not want too always have available.

[2012-02-09 06:00] #13 closed, assigned to simensen

[2012-02-09 17:52] #5 closed, assigned to simensen

[2012-02-13 06:14] #7 closed, assigned to simensen

[2012-02-17 17:10] simensen opened #14 "Should have a clear workflow for source file dependencies"
Ran into some issues with sourcefiles that are used as data providers. They need to be reprocessed (converted, etc.) but not necessarily formatted and definitely not needed to be republished. Sortof a dependency issue. Right now using `setHasChanged()` but that results in the files being completely rebuilt.

[2012-02-20 05:43] simensen opened #15 "Should be able to recover from exceptions gracefully while in --watch"
The `generate --watch` command should recover from exceptions gracefully.

[2012-03-03 17:50] simensen opened #16 "Should only find files that have changed"
Sculpin should maintain a persistent `SourceSet` on its own and only add/update the contents of the `SourceSet` when files actually change. Current implementation results in overwriting the files every time through the watch loop.

[2012-03-04 08:37] #16 closed, assigned to simensen

[2012-03-04 08:37] #14 closed, assigned to simensen

[2012-03-04 08:38] #6 closed, assigned to simensen

[2012-03-04 08:40] simensen opened #17 "Should be able to detect current version of Sculpin to avoid installing when composer:install is run"
This is a generic Composer problem. Need to find a solution for this. Might create something that gets compiled into the phar that can be added to the additionally installed repository? A memory package or something? Will have to handle dev build (possibly handled by setting environment variables?)...

[2012-03-15 05:45] simensen opened #18 "Should be able to reference configurations by name (other than sculpin.yml)"
Right now there is no way to change this behavior. This should be able to be customized.

[2012-03-15 05:46] simensen opened #19 "Should have 'imports' capabilities and do away with always importing sculpin.yml.dist"
By providing an import feature we can get all of the benefits of sculpin.yml.dist always being imported without all of the drawbacks. :)

[2012-03-15 05:48] simensen opened #20 "Should have first class preview support (maybe dev/prod environments)"
Avoid having to hack `preview` support in after the fact.

[2012-03-15 16:14] simensen opened #21 "Extending a template that extends seems to cause duplication on each rendering"
Not sure what is causing this. I thought this was fixed (this behavior was noticed before) so is possible it was reintroduced after big push to refactor sources.

[2012-03-15 16:15] simensen opened #22 "Should be able to render raw .twig files"
Unsure if this works or not. Seems to not but could be something else.

[2012-03-28 02:18] simensen opened #23 "Should strip whitespace from phar like Composer does"

[2012-03-29 03:30] #12 closed, assigned to nobody

[2012-04-02 20:57] simensen opened #24 "Should differentiate between full base URL and relative base URL"

[2012-04-11 20:02] simensen opened #25 "Should be able to run sculpin.phar from anywhere"
It currently croaks if `php sculpin.phar` is executed anywhere but in the same directory as `sculpin.phar`. For example, `php ~/bin/sculpin.phar` will fail.

[2012-04-13 01:32] #10 closed, assigned to nobody

[2012-04-16 17:45] #25 closed, assigned to simensen

[2012-04-17 02:34] #3 closed, assigned to simensen

[2012-05-30 17:05] RobLoach opened #26 "Assetic"
I know https://github.com/kriswallsmith/assetic/ is on the radar for processing JavaScript and stylesheet assets. What kind of plans did you have?

[2012-06-29 00:35] RobLoach opened #27 "sculpin watch"
Executing "sculpin watch" to wait in the command line, and automatically re-build the site whenever a file is touched.

[2012-07-08 18:01] RobLoach opened #28 "Resources Directory"
Once we switch to Symfony Bundles over at #29, we should probably switch the "resources" directory over to "Resources" to mimic how Symfony does it.

[2012-07-08 21:37] #27 closed, assigned to nobody

[2012-07-11 13:29] #28 closed, assigned to nobody

[2012-07-17 18:07] RobLoach opened #34 "Sculpin Kernel"
Still very broken. Just a patch because I'm lazy. http://pastebin.com/f5ukdJ5s

[2012-08-11 21:15] #34 closed, assigned to nobody

[2012-08-24 01:45] #18 closed, assigned to simensen

[2012-08-24 01:45] #19 closed, assigned to simensen

[2012-08-24 01:45] #22 closed, assigned to simensen

[2012-08-24 01:47] #23 closed, assigned to simensen

[2012-08-24 01:47] #17 closed, assigned to simensen

[2012-08-24 01:47] #11 closed, assigned to nobody

[2012-08-24 22:43] simensen opened #38 "Create Managers for Data Providers, Formatters, and Converters"
The main `Sculpin` class currently does way too much. Data Providers, Formatters, and Converters are all registered to Sculpin. It would make sense to decouple these into their own managers and Sculpin can be comprised of a manager for each. This will allow other bundles to accept just a DataProvider Manager or a Formatter Manager instead of having to require a Sculpin instance to "just" do things

[2012-08-24 22:44] simensen opened #39 "Configuration needs to be redesigned; Symfony Config has failed us. (for now)"
We are not able to merge `variableNode` data which makes it more or less useless to us. We may need to revert to using a dflydev Dot Access Configuration solution after all. Downside to _any_ other solution is that cache will be difficult. I'm not sure how bit of a deal that is really going to be for Sculpin's purposes, though.

[2012-08-24 22:49] simensen opened #40 "Data Sources's should do something with events"
Since data sources can be composited, there needs to be a way to issue an event to tell a containing data source that it should refresh the other data sources it manages.

For example:

Composite Data Source made up of Filesystem Data Source and PDO Data Source. A template is updated triggering Filesystem Data Source to kick in. It needs to be able to signal to the Composite Data Source that it ne

[2012-08-24 22:49] simensen opened #41 "Should be able to clear cache"
Global cache clear should be added. Possibly copied form Symfony's Framework Bundle.

[2012-08-26 01:43] simensen opened #42 "Should be able to install assets somehow"
Should have something similar to assets:install command.

This is not related to assetic. :)

[2012-08-26 18:43] #39 closed, assigned to simensen

[2012-08-27 02:06] #20 closed, assigned to nobody

[2012-08-27 21:17] #38 closed, assigned to simensen

[2012-11-16 22:07] simensen opened #47 "Should be able to generate URLs more robustly"
In general, the URL handling needs to be more robust.
- There should be a way to generate relative URLs. Something like `{{ path(/category/foo) }}` from `/hello/world` should generate `../../category/foo`
- There should be a way to generate full RULs. Something like `{{ url(/category/foo) }}` should generate `http://example.com/category/foo`

Not sold on the distinction between `path()` and `url()

[2012-11-23 21:50] #41 closed, assigned to nobody

[2012-11-27 05:12] #1 closed, assigned to nobody

[2012-11-27 05:12] #2 closed, assigned to nobody

[2012-11-27 13:13] simensen opened #50 "Should be able to have default layout for Posts and potentially globally?"
Posts definitely should have support for a fallback default layout. I'm not sure if this should be the case globally? Maybe it can be an opt-in thing. Focus on Posts first.

[2012-12-05 20:22] #21 closed, assigned to nobody

[2012-12-05 20:24] simensen opened #53 "Watch should show changes from base templates"
In fixing #21 a new bug was introduced. Changes to base templates are no longer taken into account while watching source. End result is that the site is regenerated as expected but the new changes to the base templates are not actually taken into account.

[2012-12-05 22:31] #53 closed, assigned to simensen

[2012-12-07 16:58] simensen opened #54 "Kernel generator"
Should be able to generate a custom kernel if one is not already setup.

[2012-12-10 15:12] simensen opened #55 "Post Categories"
Support Categories in addition to Tags.

[2012-12-10 15:13] simensen opened #56 "Flexible Taxonomies"
Potentially support flexible taxonomies across all sources, not just post sources.

[2012-12-10 15:15] simensen opened #57 "Shortcodes"
In addition to Twig extensibility provide a way for registering and using shortcodes to extend Sculpin.

[2012-12-10 16:12] simensen opened #58 "Should support reStructuredText"

[2012-12-10 22:47] simensen opened #59 "Should support drafts"
Drafts should be supported. I think this will essentially amount to **dev** publishing drafts and **prod** not.

[2012-12-14 16:44] #59 closed, assigned to nobody

[2012-12-14 17:35] simensen opened #60 "Post categories and tags should have a "not tagged" and "not categoried" state"
Maybe this should be optional, but there should a default tag and category for posts that don't have a tag or don't have a category. Kinda a catch all similar to what WordPress supports.

[2012-12-14 17:36] #55 closed, assigned to nobody

[2013-01-02 03:12] simensen opened #61 "Draft tag adds itself indefinitely"
This might be a larger problem with multiple same tags being able to be allowed.

[2013-01-02 04:14] simensen opened #62 "Should be able to publish to AWS S3"

[2013-01-02 04:14] simensen opened #63 "Should be able to publish to GitHub"

[2013-01-02 04:14] simensen opened #64 "Should be able to publish with rsync"

[2013-01-11 15:13] simensen opened #65 "Twig and Markdown compatibility"
Markdown currently falls over in certain cases run it runs into Twig commands. There is an existing Twig Markdown Compatibility layer but it is pretty basic and does not account for every use case. (Specifically anything that expects to be able to do:

[code]

[2013-06-04 12:22] #42 closed, assigned to nobody

[2013-08-29 17:48] simensen opened #75 "Changes to a Post's metadata do not impact anything generators"
If I change the category for a post, the post (and anything that uses "posts") will get regenerated, but the generators (like categories and tags) won't be told to refresh. The end result is that if I change or add or remove a tag, the tags pages are not updated.

[2013-08-29 17:50] simensen opened #76 "Changes to a Post's metadata won't impact pages that reference that post"
For example, if I change the title to a post, if I'm using the title on the previous or next post pages ( post.previous.title ) it won't get the updated title.

Not 100% sure how to handle this one. Taking this to its logical conclusion, a change to any metadata would in theory cascade down to all individual post pages. Not sure what the expected solution should be here. :-/

[2013-09-03 14:37] simensen opened #77 "The views directory should be optional"
The `generate` command will currently die if `source/_views` does not exist. I'm not sure this makes sense. It would be theoretically possible to create a site with nothing in `_views` so it might be unnecessary boilerplate. In fact, it is currently the **only** required filesystem in place...

[2013-09-12 15:34] #77 closed, assigned to nobody

[2013-09-19 19:23] #61 closed, assigned to nobody

[2013-09-25 02:33] #56 closed, assigned to nobody

[2013-09-29 21:25] #50 closed, assigned to nobody

[2013-11-02 23:22] mikeSimonson opened #82 "How to activate the twig dump function"
Hi,

I'd like to activate the [dump](http://twig.sensiolabs.org/doc/functions/dump.html) function from twig to check on a few stuff that are passed to the template.

Do you have any idea how to do that ?

[2013-11-28 23:53] reinink opened #84 "Timezone warning"
Just started playing with Sculpin and ran into a small issue.

OSX Mavericks comes with PHP 5.4 installed by default (which is great) but it does not have a default timezone set. Upon running `sculpin generate` I'm getting this warning:

So the error message makes it sound like everything is okay (defaults to UTC), but then I get this error:

Not sure what's happening there. Help? :)

[2013-11-29 02:24] reinink opened #85 "Generating multiple sites from a single template"
Beau, this isn't so much an issue, but rather more of a feasibility check. Your input would be much appreciated.

Over at [The League of Extraordinary Packages](http://thephpleague.com/) we're looking at an easy way to generate static, GitHub hosted documentation websites for each one of our packages. Sculpin looks like it could be a great option, and I have actually already successfully created a

[2013-11-29 02:43] reinink opened #86 "Memory limit issues with Composer"
Just ran into another issue when trying to run `sculpin install`. I'm getting this error:

I'm running PHP 5.4, so the default `memory_limit` is `128M`. I upped it to `200M` in my php.ini file, and it started working.

I'm not having this issue when using `composer install` on this same system. Looks like Composer [automatically adjusts](https://github.com/composer/composer/blob/6a1262e675b5c1c2c7

[2013-12-01 22:34] #86 closed, assigned to nobody

[2013-12-05 20:49] simensen opened #87 "Should be able to pick up changes to some configuration changes (sculpin_site*.yml) during --watch"
These changes are pretty important so it would be great if changes to them could be picked up during `--watch` so that manually restarting isn't required.

[2013-12-09 00:38] kenjis opened #88 "Can't write code with Twig tags"
If I write code below in blog post, it causes error.

[code]

[2013-12-12 02:43] #87 closed, assigned to nobody

[2013-12-18 14:39] #82 closed, assigned to nobody

[2013-12-19 13:02] mikeSimonson opened #91 "Multilingual support"
Hi,

I have been looking for a multilingual website with sculpin.
Is there already a clean way to do that ? I didn't find it.

I taught about making a bundle for it.
That bundle would have to add a new data source in source interface i think ( lang ).
And then have some configuration on how where to find the translations.

My problem is also that i don't get where the

[code]

call go ( [ligne 75

[2013-12-25 21:17] cordoval opened #92 "please tag it"
about to use it for http://cordoval.github.io/manager-tools/ :baby:

[2014-01-02 20:32] stevector opened #95 "Content type concept"
I’ve chatted with @simensen about a desire for a concept of post “type” that is analogous to Drupal’s “content type” concept. For background, Drupal’s base unit of content is the “node”. Each node is of one (and only one) type/node type/content type. A freshly installed Drupal 7 site has the “Article” and “Basic Page” content types. A fully built Drupal site commonly adds many more content types.

[2014-01-11 22:09] mavimo opened #99 "Allow using different Markdown parser"
I'm working on creating a SculpinParsedownBundle to replace core SculpinMarkdownbundle; after some test (approx 100 posts, archive paginated, tags, category and some static pages) on a i7, SSD and 16GB RAM
#### Using [markdown](https://github.com/michelf/php-markdown):

[code]
#### Using [parsedown](http://parsedown.org):

[code]

the improvement is approx:

[code]

average **29%** of improvement.

[2014-01-28 13:54] wouterj opened #101 "Override other blocks within sub file"
Let's say I have a `default.html.twig` file with:

[code]

Now I want to override both `hero_unit` and `content` block within my index file, I did this:

[code]

But this shows the `hero_unit` also in the `content` block, now I did this:

[code]

And that didn't work either (a Twig error "block content has already been defined on line 1").

How can I achieve this?

I now put the `hero_unit` block

[2014-02-03 23:36] evert opened #104 "Should be able to include markdown files"
I would like to include a sidebar on every page. This sidebar, I would want to write in markdown.

Because my main layout is a twig template, I have no way of instructing twig and/or sculpin to _first_ parse the file as markdown and only then actually include the file

[2014-02-03 23:52] evert opened #105 "Return a 404 html body"
During development (with `--watch`) I've often ran into cases where I reference urls that 404.

Currently this results in an entirely blank page, which is confusing :) It would be nice to return a simple html body. Bonus: allows you to put in a tiny bit of sculpin branding ;)

[2014-02-04 02:46] evert opened #106 "Feature request: global references"
When writing technical documentation, I often end up with a whole bunch of links in a page. My standard way of writing these links is as follows:

[code]

Then at the bottom of the page you'll find a list of references:

[code]

I often have to re-write these references a lot. It would be absolutely brilliant if I could create a separate markdown file somewhere, that contains a global list of refe

[2014-02-04 07:22] evert opened #107 "Pages that use custom types are not parsed for markdown."
See this link:

http://fruux.github.io/sabredav.org/dav/clients/

Source:

https://github.com/fruux/sabredav.org/blob/master/source/dav/clients.md

Custom type definition:

[code]

The interesting thing is, if I have `sculpin generate --server --watch` running in the background, and I change `clients.md`, the markdown is actually automatically parsed.

But if I after that edit a page that has `typ

[2014-02-23 01:23] PJnes opened #110 "All content types still seen as 'posts' to the paginator"
I've just upgraded the latest version of Sculpin, and as a Drupal guy, the new content type features seem pretty interesting. One minor bug I've found is that telling the paginator to use 'posts' will list all content types, not just those from the 'posts' content type.

Worked around it by renaming my posts content type to 'articles'.

You can see an example of it in the 'broken-pagination' branc

[2014-02-23 01:31] PJnes opened #111 "Pagination max_per_page includes items that fail if statement."
The paginator counts items that fail the 'if' check in the for loop.

Example:

5 pieces of content, with the first 1 having a meta.hide value of true. Set max_per_page to 3 and the pagination will only show 2 items on the first page, with another 2 on the second. Looks like the pagination count runs before the if statement.

Example of it happening on my site is on the broken-pagination-count bra

[2014-02-23 02:17] #111 closed, assigned to nobody

[2014-03-13 16:34] stof opened #114 "Subtree splits of the packages"
The structure of the repo seems to imply that each subpackage is available separately:
- there are composer.json files in each of them
- the root package replaces the different subcomponents

However, these subpackages are not available on Packagist, meaning that other packages cannot depend on them properly.
So I suggest that you either provide the repo individually or that you clean the referenc

[2014-03-26 13:42] evert opened #116 "lessphp support"
I hope this is still on the radar. I could care less about assetic, and it sounds hard to integrate. If there's a way to support less before supporting assetic altogether, I would be most grateful :)

[2014-03-31 18:27] evert opened #117 "Automatically create anchors for sub-headings"
Just like jekkyl, it's very important for us to be able to link directly to subheadings in a website.

Unless we write our sources in html, this is not possible right now.. and it would be great to have :)

[2014-04-01 01:03] kassner opened #118 "Embedding images"
Hello.

Is using the HTML img tag the only way to embed a image on a post? Octopress, for instance, uses `{% img http://...jpg %}` to embed. Is there any approach like this, or I have to write down just `<img src="..." />`?

Thanks!

[2014-04-16 10:23] Remo opened #120 "thumbnail generator"
I was looking for a way to embed pictures with a certain size. I've got a large picture shown in the detail, but would like to use the same source for a thumbnail.

Maybe I've missed something, but I haven't seen an official way to do this.

Any ideas? Suggestions on how to implement this?

[2014-04-24 19:27] neochief opened #121 "Is it expected behavior that .htaccess file is not carried over from source dir to destination?"
So, I have a .htaccess file in my sources directory. When I run "sculpin generate", everything goes fine, but that file it's not being copied to the destination directory.

Is this an expected behavior? Are there any workarounds?

Thanks in advance.

[2014-04-28 12:50] resmo opened #122 "Bug: twig (or jinja2) syntax in post breaks html generation."
(this has also been reported in IRC)
# Problem

Hi, I have a post (https://github.com/resmo/renemoser.net/blob/master/source/_posts/2014-04-28-manage-bind-and-zones-files-using-ansible.md )where I show a jinja2 template, syntax is quite similar to twig. The file format is md, however sculpin let me not generate this post:

[code]
# Reproduction

[code]
# Expected

sculpin handels twig syntax in ma

[2014-04-28 15:50] #122 closed, assigned to nobody

[2014-05-05 05:19] cordoval opened #123 "let me indent my twig as i want"
currently everything breaks when i try to indent the html inside a block

[code]

to:

[code]

[2014-05-05 06:16] cordoval opened #125 "sidebar bundle"
if i want to scan a folder of md files that i want to put into a sidebar with their links on the layout template do i need to create my custom sidebar bundle?

also how to develop, i know it has composer embedded so i create a composer.json and which requirements i plug for the new repo sidebar-bundle.git , which requirements of sculpin and then how do i proceed to develop my sidebar bundle?

I am

[2014-05-07 07:38] #123 closed, assigned to nobody

[2014-05-21 07:28] tolry opened #127 "submit sculpin to http://www.staticgen.com/"
Might be a good idea to add sculpin to the list of static site generators on http://www.staticgen.com/

Submission rules should all fit http://www.staticgen.com/rules

[2014-06-17 16:27] emmajane opened #130 "Should be able to use ```` for multi-line code block"
Currently I need to indent lines by four spaces to have them display as a multi-line code block. I would love to be able to use the syntax for a fenced code block: four backticks to open a code block, and then four backticks again to close the code block. As best I can tell this was not part of the original "spec" for markdown (http://daringfireball.net/projects/markdown/syntax), and may have been

[2014-06-19 04:57] #125 closed, assigned to nobody

[2014-07-11 22:51] jbouzekri opened #134 "posts_map services"
Hi,

I was trying to follow the extending post behavior services from this page : https://sculpin.io/documentation/bundles/SculpinPostsBundle/ without success. When I add a service with the tag posts_map It is never executed. A search for the string posts_map does not give any results.

Regards

[2014-07-12 20:01] jbouzekri opened #135 "Add a views folder in extension bundle"
Hi,
I tried to add a views folder in an extension bundle. The first time, it was not registered, then I called it _views because it seems to be loaded in Sculpin/Bundle/TwigBundle/DependencyInjection/Compiler/TwigLoaderPass.php but then I have an exception :

<pre>
Argument 1 passed to Twig_Loader_Chain::addLoader() must implement interface Twig_LoaderInterface, string given.
</pre>

Regards

[2014-07-27 10:57] wouterj opened #137 "Add config dump and debug commands"
It will be very usefull if sculpin had `config:dump(-reference)` and `config:debug` commands, just like the Symfony framework. That way, people can easily find out which configuration options are available (using `config:dump`) and what the current configuration is (using `config:debug`), since both are not very obvious when you're new to sculpin.

[2014-07-27 11:08] snassar opened #138 "Informational update: checking components"
I don't know what the best mechanism is for sharing this information, but here goes:

I updated sculpin.json with the following information:

[code]

I removed  sculpin.lock (composer seems to require enabling openssl in php.ini) and ran sculpin upgrade. All seems well.

[2014-07-28 16:38] budda opened #139 "Flag up markdown files with no frontmatter in debug"
If a file is markdown but has nothing after the --- frontmatter leave a message in the verbose debug logging to say the file was skipped and not processed.

Would help determining user problems.

[2014-07-28 16:42] budda opened #140 "Consider converters registering capabilities to help processing valid files"
if a converter could register its capabilities (supported file extensions *.md *.markdown *.textile etc) with Sculpin generator it might make it easier for Sculpin to only bother processing files with matching extensions rather than passing over all files in the source/ directory.

[2014-07-28 16:45] budda opened #141 "Yummy YAML wants too much frontmatter"
Files fail to parse unless there is at least a blank line after the second '---' triple dash marker.

When I have files which only contain YAML fields and no actual frontmatter they get skipped and no processing occurs, nor any error report.

Adding a blank line makes them process perfectly.

[2014-07-31 20:15] wjzijderveld opened #143 "Additional bundles with global sculpin install"
When running sculpin globally (copied/symlinked to `$PATH` or `/usr/local/bin`) the additional bundles aren't working.

This happens because when globally installed, the autoloader from you project doesn't get loaded, so the `class_exists` check at https://github.com/sculpin/sculpin/blob/master/src/Sculpin/Bundle/SculpinBundle/HttpKernel/AbstractKernel.php#L75 already fails.

Not sure how this wou

[2014-08-01 19:53] #143 closed, assigned to nobody

[2014-08-28 15:52] JeroenDeDauw opened #150 "Not able to install: Allowed memory size exhausted"
Sculpin version 2.0.x-dev (7ca1f1f) - app/dev/debug

Project: https://github.com/wmde/Wikiba.se

When getting a fresh clone, and renaming `composer.json` to `sculpin.json`, after which running `sculpin install` results in errors such as

[code]

Because of this we renamed `sculpin.json` to `composer.json` and are just running `composer install` instead. This is likely not what is intended, or else

[2014-09-18 22:37] mikachou opened #152 "Pagination Generator does not behave as expected if the list of items is empty (for example, all posts are draft in production environment)"
Steps to reproduce :
1) clone https://github.com/sculpin/sculpin-blog-skeleton on local computer
2) make all posts in _posts directory being draft by adding "draft: true" in each md file
3) generate prodwebsite : sculpin.phar generate --env=prod

In output_prod directory, all files are not generated. e.g. index.html is missing

[2014-09-26 06:38] cordoval opened #155 "question design problem"
The return of registerContainerConfiguration is null

[code]

Why then this use case?

[2014-09-26 09:07] cordoval opened #162 "tag sculping release even if it is 0.1.0"

[2014-09-26 10:03] cordoval opened #163 "support label on twig endblock"
It seems the matching expressions are messed up

This does not work:

[code]

whereas this does:

[code]

[2014-09-26 13:08] mattwellss opened #164 "Call to undefined method Composer\Autoload\ClassLoader::addPsr4() in sculpin install/update"
Here's the output of `sculpin install` on an unmodified [blog skeleton](https://github.com/sculpin/sculpin-blog-skeleton):

[code]

And the sculpin version:

[code]

Weirdly the sculpin executable made available through `composer global require sculpin/sculpin` works perfectly.

[2014-09-28 19:00] hackzilla opened #166 "Error on generate"
I'm trying to automatically build the posts, from my wordpress install, and I've got this error 3 times.
I was expecting `-vvv` to give me post names before attempting to parse them.

`sculpin generate --watch --server -vvv`

[code]

[2014-10-01 21:07] hackzilla opened #167 "PHP Fatal error: Allowed memory size of 536870912 bytes exhausted"
[code]

[2014-10-01 21:08] hackzilla opened #168 "Call to undefined method Composer\Autoload\ClassLoader::addPsr4()"
[code]

[2014-10-01 21:14] #168 closed, assigned to nobody

[2014-10-01 21:19] #167 closed, assigned to nobody

[2014-10-04 12:13] hackzilla opened #171 "How to override file names"
In the skeleton blog, I'm trying to add categories (and tags) in the form of `My Category` and
in `https://github.com/sculpin/sculpin-blog-skeleton/blob/master/source/blog/categories.html` I can change the urls to slugs.

However where can I override the file names?

[2014-10-06 14:40] #164 closed, assigned to nobody

[2014-10-08 21:18] tpavlek opened #172 "Pagination does not work with index.html.twig files"
Steps to reproduce:
1. Clone down sculpin-blog-skeleton
2. Rename index.html to index.html.twig
3. Run generate.

The main index page will generate just fine as .html.twig is a valid extension, however all the pagination (page/2/, page/3/, etc.) folders will have index.html.**twig** in them. This is an error in extension only, the files are all properly parsed HTML, just my browser doesn't know wh

[2014-10-08 23:55] tpavlek opened #173 "Using frontmatter variables in markdown images, lead to not being parsed."
This seems like not so much a "bug" as an architectural decision preventing my use-case, but I feel it's worth mentioning and fixing:

if you had a markdown file with

[code]

Then the raw text will be outputted to the screen instead of the markdown syntax being interpretted, and an image being outputted. I assume this is because the Markdown is interpretted before frontmatter variables are parsed

[2014-10-09 00:28] #173 closed, assigned to nobody

[2014-11-03 07:40] noquierouser opened #176 "Setting PHP locale"
I'm using sculpin in Windows, used the installer from the site. I need to set the PHP locale for dates, but as far as I've seen, environment variables are Unix only, there are no options in `php.ini` for locale and I don't know where should I use `setlocale()`.

I know I should be using a Unix-like system for this, but I want to try everything before setting with Vagrant or something like that.

[2014-11-03 20:33] danga4biz opened #177 "Sculpin error"
All,

I am trying to get Sculpin running on my windows machine with Apache webserver installed.

I have forked the sculpin repository .

When running sculpin.php in my webserver I get the message:

Fatal error: Class 'Symfony\Component\Console\Input\ArgvInput' not found in C:\DataApache\Apache 2.4\htdocs\sculpin\bin\sculpin.php on line 47

The same message I get when i run sculpin.php from my comm

[2014-11-03 20:36] #177 closed, assigned to nobody

[2014-11-07 08:14] danga4biz opened #178 "Title of post now shown"
Dear all,

I have created some new posts in the folder ..\source_posts
2014-11-07-travel.md
Containing:

---

title: Time Travel
categories
    - time

---

Hello World
I am in the future
_Markdown is cool._

-first
-second
-third

After I start the server I can see
September 2012
   Symfony Live Hacking Day!
December 2011
  Happy Birthday Sculpin!
January 2014
November 2014

But I do not see the

[2014-11-09 23:23] tpavlek opened #179 "Content type generation does not have an extension if permalink doesn't have a trailing slash"
Say I had some arbitrary content type `foo`

Given this sculpin_kernel.yml:

[code]

when I run generate instead of a folder `filename` being generated with an `index.html` within, there's a file called `filename` that is generated. This is without an extension and contains all the proper HTML.

When I add a trailing slash to the permalink eg `path/to/foo/:filename/` everything works fine.

[2014-11-12 11:13] madc opened #180 "Combine and compress javascripts and stylesheets"
I've build my current website using sculpin (and I am quite happy eith it!). The only feature, I'm missing is the compression of assets (.js, .css). I know, that there is an old issue (#26), but there is no sign of a discussion. Maybe we can do that here.

Are there any plans of implementing such a feature? I think, it would be awesome to integrate [Assetic](https://github.com/kriswallsmith/asseti

[2014-11-18 18:03] aaronsturm opened #183 "Directory structure not kept"
I'm trying to figure out what I'm doing wrong.

The Goal: Have my blog index page generate in the blog directory.
The Problem: The blog index page is generating in the root.

I have a file index.twig in my source/blog directory. After I run generate, it generates the file in output_dev/index.html instead of output_dev/blog/index.html.

Here is my sculpin_kernel.yml file:

[code]

I'm not using the

[2014-11-23 22:07] mikeSimonson opened #184 "Detect sources that are empty"
Hi,

I am still trying to detect if one or more source are not associated with any content.
I am doing that in the ProxySourceCollectionDataProvider. While in there I have no problem finding out where a source is attached. I have still not found any way to get the list of all the registred content_types.
Do you have any idea how I could do that ?

Thanks

[2014-12-02 16:17] chipbell4 opened #185 "Support For Custom Converters"
It seems like the docs slight hint at this, but I'm not seeing the clear path to build something like this. My use case is this: I'd like to potentially be able to add a LaTeX converter plugin for Sculpin (via LaTeX2HTML or the like), so that Sculpin can compile "mathy" stuff.

Is there perhaps a roadmap for me on this, or does Sculpin not currently support that?

[2014-12-04 00:31] tassoevan opened #186 "Deprecation message from Symfony Console"
After I run `composer global update`, I'm seeing this:

[code]

I'll try to downgrade global Symfony Console (2.7.x-dev), but someone else can have the same problem and I guess it may be important in Sculpin development.

[2014-12-09 15:13] Penderis opened #188 "sculpin refuses to run command"
Hi I finally got it to work on my windows machine by letting .phar be opened with php.exe but now running sculpin.phar in cli just outputs help file all the time , no matter what command be it install ect. any ideas?

[2014-12-13 22:13] arnucci opened #189 "PHP Parse error when running sculpin"
Hello

I'm trying sculpin from examples from this page https://sculpin.io/getstarted/

The installation is correct.
The downloading of the starter kit is too.

But when I run the command "sculpin install", I got this message :

PHP Parse error:  syntax error, unexpected '[' in /home/arnucci/sculpin/src/Sculpin/Bundle/MarkdownBundle/MarkdownConverter.php on line 48

Is that a bug or did I miss some

[2014-12-15 17:44] #189 closed, assigned to nobody

[2014-12-15 21:32] #166 closed, assigned to nobody

[2014-12-23 17:46] simensen opened #190 "Calling init on a source is destructive to other attached metadata"
Specifically `FileSource::init()`, any existing metadata like `converters` will be lost when reprocess happens. For example, if a Markdown file tries to `use: []`, this will result in the Markdown converter being lost since it attaches itself as `$source->data()->append('converters', 'markdown')`.

[2014-12-23 20:56] #178 closed, assigned to nobody

[2014-12-23 21:14] #162 closed, assigned to nobody

[2014-12-23 21:15] #26 closed, assigned to nobody

[2014-12-23 21:16] #180 closed, assigned to nobody

[2014-12-23 21:49] #183 closed, assigned to nobody

[2014-12-30 16:03] #127 closed, assigned to nobody

[2015-01-05 15:45] fireproofsocks commented on #105
Is this possible with a static site?  404's could be handled by a dynamic app, or they are handled by the web-server.  I'm curious if Sculpin can be used to serve custom 404 pages.

[2015-01-05 15:54] simensen commented on #105
@evert Huh, I forgot about this one. My bad. I think we could probably setup the internal webserver to serve specific 404 pages. I'll look into it. :)

[2015-01-10 01:06] evert opened #191 "Nested directories in _posts"
Now the new year came around, I would like reorganize my blogposts in 1 folder per year.

Before, all my posts were clumped together in one `_posts` directory, so the new layout would iook like:

[code]

However, moving all these markdown files in their new directory, caused the permalink generation to fail.
Before, these looked like:

[code]

But now they've become:

   http://sabre.io/blog/2014/

[2015-01-12 16:32] simensen commented on #191
@evert I'll see if I can take a look at this sometime this week. Would you mind looking over what you wrote here to make sure that everything is 100% what you describe? Are the files still named 2014-* or are the new files named w/o the 2014-* prefix?

If they still have the 2014-* prefix, it seems weird that Sculpin is generating those permalinks. If the files no longer have the 2014-* prefix I t

[2015-01-12 16:50] evert commented on #191
Hi @simensen ,

The `2014-` is indeed still part of the original filename. All I did was:

    mkdir 2014
    mv *.md 2014/

[2015-01-13 13:14] emmajane commented on #84
Bump! Did this get solved?

[2015-01-13 13:22] kayladnls commented on #84
@emmajane looks like a PR was merged in July to fix it, but they weren't able to test it.

And alas, I have no reliable way to test it either. Are you running into the issue?

[2015-01-13 14:09] reinink commented on #84
@emmajane It did fix the issue for me, yes. The code I used was basically copied directly from Composer, so while untested, I'm pretty confident it will work. You will need to update Sculpin though, if you haven't since July 30, 2014.

[2015-01-13 14:09] emmajane commented on #84
Downloaded whatever is currently at https://download.sculpin.io/sculpin.phar and the error went away!! \o/

[2015-01-13 14:17] reinink commented on #84
Nice :)

@simensen I'm going to close this, since it's fixed.

[2015-01-13 14:17] #84 closed

[2015-01-13 17:04] simensen commented on #84
@reinink Thanks. :)

And thanks to everyone else who jumped in!

[2015-01-15 15:06] mseshachalam opened #194 "changed URLs still exist in production"
I changed the /about to /about-me. I cleared the cache in dev and prod modes but the dev env has only about-me and the production env is serving both /about and /about-me pages. Is there any documentation exists on how to modify the existing pages ?

[2015-01-15 15:07] mseshachalam commented on #194
http://mseshachalam.github.io/about-me/
http://mseshachalam.github.io/about/

[2015-01-15 16:19] simensen commented on #194
@mseshachalam This is complicated. Sculpin doesn't know or care about your production environment. This is something you would have to handle with how you publish your code to production.

If you are using the publish script that came with the skeleton, you could alter the rsync command to delete files from the remote that do not exist locally.

I do not have this enabled by default as it can be u

[2015-01-15 17:12] mseshachalam commented on #194
Thanks @simensen I will have to learn a bit more about sculpin.

[2015-01-15 17:13] simensen commented on #194
@mseshachalam Sounds good! I'm going to close this for now. If you find you continue to have issues or questions you can still post here.

[2015-01-15 17:13] #194 closed

[2015-01-23 11:09] yakkoroma opened #195 "Custom type lose if a DataProvider is set in the .md file."
If i insert the 'use' statmeant into the header of a md file the configuration of the custom type used is lost.
e.g the page is not generated with the correct permalink.

More infor at:
http://stackoverflow.com/questions/24235001/sculpin-custom-content-type-is-not-generating

[2015-01-23 11:10] simensen commented on #195
@yakkoroma How recent is your version of sculpin? Have you done a selfupdate recently?

[2015-01-23 11:14] yakkoroma commented on #195
This is my version:
Sculpin version 2.0.x-dev (v2.0.0-1-g57793ee) - app/dev/debug

I downloaded it this week.
There's an update available? Thank you

[2015-01-23 11:16] simensen commented on #195
Actually, scratch that. #193 has not yet been merged. I think that will fix your problem. I'm going to see if I can get someone else to double-check that patch and then merge and rebuild.

[2015-01-23 11:22] yakkoroma commented on #195
Thank you,
if i can help you in some way (maybe testing it on my case?) i am here!
Thanks

[2015-01-23 11:26] simensen commented on #195
@yakkoroma If you are comfortable enough with git to test this PR locally, you can clone sculpin/sculpin, run `composer install`, and then apply the PR patch locally and see if it fixes your problem for you.

I don't want you to do this if it will be frustrating for you, though. :) If this sounds like something you can handle, go for it, and report back to me if it works or not! If not, I'd sugges

[2015-01-23 13:02] yakkoroma commented on #195
@simensen I cloned  the repo, applied your patch manually on the file and runned sculpin from sculpin-phar-stub and it worked like a charm form me.
Thank you.

[2015-01-23 13:04] simensen commented on #195
Great! I'll close this for now as I think we'll be merging #193 later today. :) I appreciate your patience and thanks for helping to test it out!

[2015-01-23 13:04] #195 closed

[2015-01-23 19:25] Greg-Boggs commented on #104
This feature would be perfect. It's the main feature I'm looking for in a static generator. The general philosophy of: if it's content, it should not be hard coded into html files, but rather read from markdown.

[2015-01-23 19:43] WyriHaximus commented on #104
@simensen want me to pick this up? Wrote twig tags in the past :).

[2015-01-23 21:46] simensen commented on #104
@WyriHaximus I think that the Liip people have a |markdown filter. I think it would be good to add that as well if we can? I think that this would potentially be a good candidate for an external extension at some point but if you want to write it in the MarkdownBundle directly for now that might be easier.

The only thing that could be tricky is knowing from where to include Markdown files. You co

[2015-01-25 17:40] evert commented on #104
Only using the `_*` directories would have been fine for my use-case :)

[2015-02-03 08:32] yakkoroma opened #198 "More information about DataProvider error"
It could be interesting, in case of DataProvider failure, to know the not valid DataProvider, rather than the php notice about the not valid element in the foreach.
I suggest some like:

<pre>
diff --git a/src/Sculpin/Bundle/PaginationBundle/PaginationGenerator.php b/src/Sculpin/Bundle/PaginationBundle/PaginationGenerator.php
index eb1a2d0..7254af5 100644
--- a/src/Sculpin/Bundle/PaginationBundle/

[2015-02-21 13:19] jrobeson commented on #130
so markdown was updated, is this ticket still valid? or are fenced codeblocks not supported in markdown 1.4?

[2015-02-21 21:14] andrewshell opened #201 "Posts without title are not ordered correctly in data.posts"
I'm trying to introduce [note](https://indiewebcamp.com/notes) style posts to my site (basically a post without a title, like a tweet).

I discovered that while I can publish posts without tweets, they do not show up in the correct order when I  iterate through {% for post in data.posts %}.
## What I did:
1. Downloaded latest sculpin-blog-skeleton and sculpin.phar
2. Ran `php sculpin.phar install`

[2015-02-22 11:30] naxoc commented on #172
I also ran into this. I like to have my files called something.twig so my editor knows what kind of file it is.

I did a simple pull request here: https://github.com/sculpin/sculpin/pull/202

[2015-02-23 19:37] simensen commented on #130
@jrobeson I still need to verify this. Should be easy to try. Hopefully in the next few days. Possibly someone else can try it out on the sculpin-blog-skeleton and create a new post showcasing fenced code blocks assuming it works.

[2015-02-23 19:52] davedevelopment commented on #130
I use fenced codeblocks and indeed they work for me.

[2015-02-23 19:52] #130 closed

[2015-02-24 12:14] eschwartz opened #203 "Docs typo? (minor)"
In the [Custom Types](https://sculpin.io/documentation/content-types/custom-types/) docs, I noticed this:

 (*emphasis mine*)

If the default is singularized, shouldn't the default path for "talks" be "_talk"?

Is there are separate repo for the docs, where I should put this kind of issue?

[2015-02-24 12:57] bcremer commented on #117
In the meantime one could use a JS based solution like: https://github.com/bryanbraun/anchorjs/blob/gh-pages/anchor.js

I was also thinking about implementing automatic anchor insertions. I am wondering if this should be done in the (markdown-)converter or as a post processor on the generated html. Any thoughts on that?

[2015-02-24 13:00] bcremer commented on #58
Just for the record: https://github.com/rjkip/SculpinRstBundle

[2015-02-25 14:55] eschwartz commented on #203
Oh yes, [there is](https://github.com/sculpin/sculpin.io) :)

I submitted a pull request there.

[2015-02-25 14:55] #203 closed

[2015-02-25 18:48] dragonmantank commented on #188
If you have PHP installed on the machine, `php sculpin.phar [command]` should work just fine. I do almost all of my dev on Windows.

[2015-02-25 18:55] dragonmantank opened #204 "'sculpin update' returns "Could not parse version constraint" when trying to download components/bootstrap"
I'm using the stock `sculpin.json` that comes with the blog skeleton, and have tested this with the released sculpin.phar, a phar generated from this repo, and from the command directly in `bin\`. Each returns the following error:

[code]

It looks like the embedded composer doesn't like the constraint format.

I'm running `sculpin update` so that it can pull down a new bundle via composer.

This

[2015-02-26 08:17] simensen commented on #203
Thanks! :)

[2015-02-26 08:25] simensen commented on #117
a JS solution could be useful as well for now. i think that when we start looking at opening up the markdown parsing stuff to make that more flexible  we can look to see if this is built into some markdown parsers directly or if it is always going to be something that we'll have to do ourselves.

@bcremer if you give that js library a test, let me know how it goes. i'm a little unclear how it woul

[2015-02-26 16:58] simensen commented on #204
@dragonmantank If you can verify that this problem is no longer an issue w/ the current sculpin.phar, we can close this issue. Thanks for reporting it!

[2015-02-26 17:44] dragonmantank commented on #204
Newly released .phar file took care of it. Yay!

[2015-02-26 17:45] #204 closed

[2015-02-26 17:49] evert commented on #117
Probably a good idea to open feature requests in the relevant markdown parsers as well.

It's just frustrating to not be able to deep-link to documentation. For technical docs I often run into this.

[2015-02-26 17:49] evert commented on #117
Is this project : https://github.com/michelf/php-markdown the main markdown package for now and in the forseeable future?

[2015-02-26 17:57] simensen commented on #117
@evert Yeah, we'll be "stuck" on php-markdown for the official release for now. I'm hoping to either bundle multiple parsers with Sculpin 3 or make it super trivial to add new ones. I've seen people integrating with other parsers and it is technically possible to integrate w/ whatever you want. It just isn't documented yet.

See here regarding @rjkip using reStructuredText: http://blog.rjkip.nl/20

[2015-02-26 18:11] evert commented on #117
Response from php-markdown:

https://github.com/michelf/php-markdown/issues/195#issuecomment-76232174

[2015-02-27 06:28] bcremer commented on #117
@simensen [anchor.js](https://github.com/bryanbraun/anchorjs) works surprisingly well without any `scrollTo` magic. I am not sure how cross browser safe that is.

[2015-02-27 06:31] bcremer commented on #117
I am already using a bundle to integrate the `league/commonmark` parser: https://github.com/bcremer/sculpin-commonmark-bundle

It would be nice to have extension points to the underlying parsers inbuilt into sculpin.

[2015-03-01 12:26] ghost opened #211 "use SymfonyConfigTest for Configuration class tests?"
https://github.com/matthiasnoback/SymfonyConfigTest

I was looking into providing a way to configure the markdown class via Configuration, but we don't seem to have a proper test harness for it yet. SymfonyConfigTest is one way to achieve it.

[2015-03-01 12:30] jrobeson commented on #99
@mavimo : is #148 enough for you?

[2015-03-01 12:30] jrobeson commented on #92
a release has been tagged since then. https://github.com/sculpin/sculpin/releases

[2015-03-01 15:01] cordoval commented on #92
thanks @jrobeson :older_man:

[2015-03-02 11:51] jrobeson commented on #92
@cordoval : well close then issue then! :)

[2015-03-02 13:58] carbontwelve commented on #191
@simensen did this get fixed in the end?

[2015-03-02 14:08] #92 closed

[2015-03-03 15:54] titolendable opened #216 "Installing with composer fails"
I am trying to install sculpin from the master branch but it fails with the message:

[code]

And my composer settings are:

[code]

[2015-03-03 16:06] jsundquist opened #217 "Live reload web site when --watch enabled"
Right now when you run sculpin generate --server --watch you have to manually refresh the page. It would be great if when using the watch flag sculpin could trigger your page to automatically reload for you.  There appears to already be a php version of livereload at https://github.com/RickySu/php-livereload.

[2015-03-03 16:06] simensen commented on #216
Right now Sculpin depends on a few `@dev` dependencies. Please see here for instructions to install using Composer:

https://sculpin.io/download/#download-via-composer

[2015-03-03 16:06] #216 closed

[2015-03-03 17:28] titomiguelcosta commented on #216
thanks @simensen, sorted

[2015-03-03 19:25] WyriHaximus commented on #217
My thoughts about this go a bit further then just using livereload. Instead of reloading the entire page I was thinking about just refreshing the content that was updated. Thus instead of reloading a page only reloading the content of the post that was updated. Now while writing that I realize that it would involve a lot of hooking into the content and making things rather complex. Because for a p

[2015-03-03 21:16] jsundquist commented on #217
The other thing to keep in mind. People don't use Sculpin for just blogging. For instance, the entire Midwest PHP web site is written using sculpin. :-) So its best to update the entire site.

[2015-03-04 15:49] menjaraz commented on #188
`PHP` seems not to be capable of handling well Windows path including spaces (e.g. `C:\Documents and Settings\...\Desktop\sculpin-blog-skeleton`).

The workaround is to avoid using folder with those kirks: I used `C:\sculpin-blog-skeleton` as far as I am concerned and it works like charm.

Open the console and fire the following commands one after one...

    cd "C:\sculpin-blog-skeleton"
    PHP

[2015-03-04 17:03] dragonmantank commented on #188
I just tested the following:

[code]

and it generated the site and served it properly. This is Windows 8.1, PHP 5.6.4, and a new sculpin.phar (as of a few days ago) within Powershell.

[2015-03-05 07:50] ibrasho commented on #201
The messed up ordering in due to a possible bug in the `Sculpin\Contrib\ProxySourceCollection\Sorter\DefaultSorter`.

I submit a PR incase this is a bug really.

We need to think of a proper alternative if the content title is not set...

[2015-03-06 10:26] davedevelopment commented on #201
:+1: for good bug report :)

[2015-03-11 00:12] beryllium commented on #120
I've released a Sculpin extension called ["icelus"](http://whateverthing.com/blog/2015/03/07/icelus-thumbnail-generator/) that enables thumbnail generation in sculpin via a twig extension.

[2015-03-11 00:12] #120 closed

[2015-03-18 18:35] colinodell opened #220 "CommonMark Support"
Would there be any interest in adding support for a [CommonMark](http://commonmark.org/) parser [like this one](https://github.com/thephpleague/commonmark)?

[2015-03-18 18:36] kayladnls commented on #220
Personally I'd love to see support for the League package.

[2015-03-18 18:44] simensen commented on #220
@colinodell Yes, I believe you can expect to see CommonMark as a part of Sculpin 3 sometime in the near future. Will see if we can add an optional external extension for Sculpin 2 in the meantime.

[2015-03-18 18:46] colinodell commented on #220
@simensen Awesome, thanks!

[2015-03-19 13:57] simensen commented on #172
@tpavlek Does @naxoc fix from #202 (now merged) fix your issue? I forgot to build a phar right away but it should be in the main phar now.

[2015-03-19 14:52] mediadoneright commented on #63
I have the same use case ... actually surprised this wasn't built-in once I started getting into.  [This deploy script: https://gist.github.com/mrkrstphr/2e79e55229b2ef7a343a](https://gist.github.com/mrkrstphr/2e79e55229b2ef7a343a) seems like a useful place to start / reference... though prefer it were a sculpin command, not a separate shell script.

[2015-03-20 13:46] dupuchba opened #221 "Know which twig files are called"
Hello everyone,

We are using Sculpin at my company for our designers.
 We would like to know if there is an easy way to know which twig files are called on the website (a little bit like the webprofilerbundle for symfony :-).

[2015-03-20 18:10] simensen commented on #221
@dupuchba I'm not sure exactly what you are asking but I think the answer is "no." At least not using Sculpin directly? You could use some sort of javascript analytics thingy to track page hits possibly? Or read webserver logs? I don't think that is exactly what you are asking, though. Let me know if you can be more specific. :)

[2015-03-21 01:56] harikt commented on #221
@simensen If I understand correctly, what he was asking is designers don't know which twig file was rendered on a certain page. He likes to know which twig file was used to render to get a particular page.

Eg : about.html => which twig files are used .

[2015-03-21 08:05] dupuchba commented on #221
@harikt that's it, thank you. I was a bit tired yesterday :-) !

e.g : on a certain page, for example the homepage `http:localhost:8000/` we want him to know easily which twig/html file has been called !

[2015-03-23 09:32] dupuchba commented on #221
@simensen any idea ? :-)
Did you understand my problem ?

[2015-03-23 15:48] simensen opened #222 "Markdown headers with links in them create unwieldy ID values"
The new auto ID functionality from php markdown (courtesy of @evert) is pretty nice but it starts to break down once you create links in the headers:

[code]

I would assume (or hope) that the above ID would be '#sculpin-in-a-nutshell' but it is instead:

[code]

This may be a case of misunderstood expectations on my part. I see a few potential things:
- I seem to recall that there was some rule a

[2015-03-23 15:50] simensen commented on #221
@dupuchba I think I better understand your problem (thanks to @harikt for helping to clarify!) but I don't know if I have an easy answer for you. I'd have to see how the web profiler is currently doing that and try to find a way to do it in Sculpin as well.  I don't know if/when we'll get that implemented, though. Would you be interested in taking a crack at it? I think it would be a great candida

[2015-03-23 15:54] harikt commented on #221
@simensen I don't know, but I have a feeling it should work without much trouble for sculpin works with the http kernel.

[2015-03-23 15:59] simensen commented on #221
@harikt Unfortunately we aren't really using HTTP Kernel in the usual way. It would be my preference to not have to use HTTP Kernel at all, to be honest. We are not using Symfony's core Templating component, for example.

It *is* possible it will work out of the box so if someone wants to try, that would be great. However, if it is being served up via a controller it isn't going to work with Sculp

[2015-03-23 16:10] dupuchba commented on #221
@simensen I was exactly looking at webprofiler bundle. I will let you know what I can do about this one :-)

[2015-03-23 18:04] evert commented on #222
Hi!

So I think we can fix this on the sculpin-side. the `id=""` tag generator just gets the entire contents of the header. So, basically anything that comes after the `###` in plain markdown (so before conversion to html).

There's a few things i could potentially do:

1. I can use striptags to take out any html. I believe striptags is safe as long as we don't use allowable_tags.
2. I can automat

[2015-03-23 21:16] simensen commented on #222
@evert Interesting. OK, so, I guess the question comes down to whether the links are already rendered at the time that this function is called. Right? I'd say if they are already rendered, let's do striptags. Otherwise, remove the markdown links with regex.

[2015-03-23 21:24] evert commented on #222
They are not yet rendered. My suggestion was actually not a multiple choice, I was gonna go for all three, in that order =)

[2015-03-23 21:24] simensen commented on #222
@evert then by all means, have at it. (i misunderstood :) )

[2015-03-25 20:51] KEFIR4UK opened #223 "Could not parse version constraint >=1.9.1 <3.0: Invalid version string "1.9.1 <3.0" in GeneratorBundle"
Hi, i try install  GeneratorBundle in symfony 2.6 with composer with this documentation  https://github.com/symfony2admingenerator/GeneratorBundle/blob/master/Resources/doc/installation/installation-via-composer.md, but i have error:
[UnexpectedValueException]
  Could not parse version constraint >=1.9.1 <3.0: Invalid version string "1.9.1 <3.0"
I add  "minimum-stability": "dev", in composer but i

[2015-03-26 01:04] harikt commented on #223
Hi,

There is a composer users group : https://groups.google.com/forum/#!forum/composer-users .

This issue tracker is specifically for sculpin . So you can ask the same on the groups.

Thanks!

[2015-03-26 09:49] dupuchba commented on #221
@simensen I started to work on it, it looks like the newly Profiler extension in twig does a pretty good job at profiling your twig file.
I am still working on it but I will need your advice for this usecase :

1) with the profiler I detect all the twig files that are used to render an html in dist
2) Now I need to generate for each of my sculpin's pages an html that contain all the (non tokenised

[2015-03-27 15:49] simensen commented on #221
Not at the moment, no. :-/ I'm not sure in what context the profiler works so I don't know how you'll know which "page" you are on. I haven't used the Profiler extension at all yet.

So you are getting data but not sure what to do with it, right?

[2015-03-28 19:54] simensen commented on #191
@carbontwelve No, I have not had time to look into this yet. :-/ Maybe someone else on the team can take a look if they have a chance?

[2015-03-28 20:07] simensen commented on #172
@tpavlek Did #202 fix your issue? :)

[2015-04-13 05:57] bcremer commented on #220
I wrote a simple integration bundle for Commonmark some time ago: https://github.com/bcremer/sculpin-commonmark-bundle

[2015-04-13 13:16] simensen commented on #220
@bcremer Thanks for that. Would you want to take a crack at adding your bundle to [the docs](https://sculpin.io/documentation/converters/)? Maybe a new sub-section for Markdown (same level as "Configuration") something like, "Other Markdown Classes" and list your bundle name along with the class name, a note about the min PHP version requirements, and link to your repo? (your repo has the installa

[2015-04-13 14:39] bcremer commented on #220
@simensen sure, will do this evening.

[2015-04-14 14:51] WyriHaximus commented on #217
You're absolutely right, after rethinking it all live reload the entire page is the way to go :+1:

[2015-04-15 06:45] bcremer commented on #116
I put together a small bundle to integrate a LESS parser: [bcremer/sculpin-less-bundle]
(https://github.com/bcremer/sculpin-less-bundle).  It's still a POC but I plan to add more futures soon.

It is not yet compatible with a structure used in https://github.com/fruux/sabre.io for example.
The generated CSS files are getting placed in the same directory as the source LESS files.

Feedback is welco

[2015-04-16 17:12] bcremer commented on #179
Can also confirm. This happens to all custom placeholders, not just `:filename`.

It also happens for the permalink mentioned in the documentation:
[code]

Failing testcase for `\Sculpin\Core\Tests\Permalink\SourcePermalinkFactoryTest::provideCreateData`:
[code]

[code]

[2015-04-16 18:42] bcremer commented on #179
I have two possible fixes for that bug.
One introduces a slight BC break, the other one uses a special treatment for the `html` extension in the permalink.

Fix in https://github.com/sculpin/sculpin/pull/234
[code]

Fix in https://github.com/sculpin/sculpin/pull/233
[code]

A explicit trailing slash forces a subdir in all cases:
[code]

[2015-04-16 18:53] itguy614 commented on #179
+1 for #233

[2015-04-19 15:57] taylorren opened #235 "Feature Request: filter for "first" N entries"
It is a feature request here.

Currently, sculpin does not support a kind of filter to select the "first" N entries from a content type.

In Hugo, there is this "range first 10" syntax and in Bolt, you can use some syntax structures in the template.

You may mimic this via a paginator but there is one huge restriction: a page can only have one paginator. It will be impossible for me to get first 1

[2015-04-19 16:31] simensen commented on #235
Sculpin does very little for you. You can do almost everything you need to just using Twig.

In this case, don't use pagination and just use posts and use `slice` to just iterate over the ones you want.

http://twig.sensiolabs.org/doc/tags/for.html#iterating-over-a-subset

[2015-04-19 22:14] simensen commented on #235
For a more detailed example, you can see how this is being done with the Sculpin Blog Skeleton's atom.xml file:

https://github.com/sculpin/sculpin-blog-skeleton/blob/master/source/atom.xml

[code]

I'm closing this as I believe this should solve your issue. If you disagree, by all means, let me know what else you are looking for and I can open the issue again!

[2015-04-19 22:14] #235 closed

[2015-04-19 22:44] taylorren commented on #235
Thanks, @simensen

I am sure this will solve my issue. Hope this can be documented in the official site documentation.

[2015-04-19 22:45] taylorren commented on #235
Thanks, @simensen

I am sure this will solve my issue. Hope this can be documented in the official site documentation.

[2015-04-20 10:33] lucadegasperi commented on #104
News on this one? Is there a simple workaround to include a single markdown file in a layout and getting it parsed?

[2015-04-20 23:18] taylorren opened #236 "Layout structure"
Well, the title may be a bit misleading but I am looking for this:

Currently I put all layouts in `_layouts`. Now as my customized content types number grows, I want to organize different layouts for a content type in a separate folder:

    _layouts
        books
            list.html.twig
            single.html.twig
            excerpt.html.twig

So that the names of each file can be simpler a

[2015-04-20 23:34] simensen commented on #236
Try books/list :)

[2015-04-20 23:49] taylorren commented on #236
@simensen All right, that's it. Can't believe I am so dumb.

[2015-04-20 23:49] #236 closed

[2015-04-20 23:57] taylorren opened #237 "MD format not shown correctly"
The entry MD file:

    ---

    title: Test article 7
    date: 2015-4-19
    category: business
    ---

    **Hello everybody!**
    ...

The MD file:

    <div class="col-md-4 news-item">
        <h2 class="title"><a href="{{jianshu.url}}">{{jianshu.title}}</a></h2>
        <img class="thumb" src="http://lorempixel.com/100/100/{{cate}}"  alt="{{jianshu.title}} | {{cate}}" />
        {{jianshu.

[2015-04-21 00:10] simensen commented on #237
What is the MD file named? If it doesn't have a markdown extension it won't be parsed for markdown and its raw content won't be rendered markdown.

[2015-04-21 00:13] taylorren commented on #237
@simensen The files are all with .md extension.

[2015-04-21 00:21] simensen commented on #237
What is "the MD file" in your example? It is referencing jianshu but I'm not sure how that is set or how it interacts with index.html.twig

Is your site online anywhere so we can take a closer look at the whole thing in one place?

Also how new is your copy of sculpin? Are you using the phar? Have you done a self update lately?

[2015-04-21 00:24] taylorren commented on #237
I put it on the Github for your review and help. https://github.com/taylorren/sculpin

[2015-04-21 00:28] taylorren commented on #237
BTW, I am using the latest sculpin.phar.

[2015-04-21 00:31] taylorren commented on #237
And BTW, I am writing an article on this for Sitepoint now to promote this fabulous tool.

[2015-04-21 01:52] simensen commented on #237
I just cloned the repo and visited the index page and I see this:

![image](https://cloud.githubusercontent.com/assets/191200/7244297/fc63f68c-e79e-11e4-9ed2-b287eeedbc93.png)

Have you fixed it? Or are you still seeing it rendered incorrectly on your system? Or am I looking at the wrong place?

If it is still broken on your system, can you tell me more about your environment? Are you on Mac, Wind

[2015-04-21 08:45] taylorren commented on #237
I have not changed a thing. That is very strange. I will test it later
tonight and revert.

Thanks for the quick check.

On Tue, Apr 21, 2015 at 9:52 AM, Beau Simensen <notifications@github.com>
wrote:

[2015-04-21 10:56] taylorren commented on #237
@simensen Tested again. Still no luck. Output is still ugly...

Put up a skeleton MD file and renders OK so it is not related to MarkDown lib or the parsing.

[2015-04-21 11:25] taylorren commented on #237
I modified my index.md to this:

<section class="news">
    <h1 class="section-heading text-highlight"><span class="line">简书汇编</span></h1>
    <div class="carousel-controls">
        <a class="prev" href="#news-carousel" data-slide="prev"><i class="fa fa-caret-left"></i></a>
        <a class="next" href="#news-carousel" data-slide="next"><i class="fa fa-caret-right"></i></a>
    </div>

    <div c

[2015-04-21 13:00] simensen commented on #237
That last example won't work because markdown inside of block level HTML elements will not be parsed as markdown. This is a markdown thing. I cannot remember if section is a block level element but I know for sure that div is.

If you do the following I believe you will find that *Test top* and **Test bottom** will both render as expected.

[code]

I'm concerned that taylorren/sculpin@62d4d7d937d0

[2015-04-21 13:19] taylorren commented on #237
Yes, I have tried to write some MD texts outside the <section>...</section> and confirms the output is fine.

![ashampoo_snap_2015 04 21_21h16m55s_002_chrome legacy window](https://cloud.githubusercontent.com/assets/3853711/7252982/ddb9ab82-e86b-11e4-8076-c06f5a24e43a.png)

The full index page is attached.

I am coding in Windows but the site is served "remotely" in a Vagrant box running Ubuntu 14

[2015-04-21 13:28] taylorren commented on #237
I am also doubting that the issue may rise because of my nested MD inclusion:

index.md uses index.html.twig. It also dynamically includes various (6) articles MD (_jianshu/1.md, and alike).

[2015-04-21 13:49] simensen commented on #237
I tried your updated codebase and it renders fine for me. :(

![image](https://cloud.githubusercontent.com/assets/191200/7253249/d8abdab8-e800-11e4-8856-f7a11c664ad9.png)

[2015-04-21 13:54] taylorren commented on #237
I am very much confused...

Anything that could make the difference?

在 2015/4/21 21:49, Beau Simensen 写道:

[2015-04-21 14:44] simensen commented on #237
I think we keep missing each other on IRC. I can't think of anything that might be causing this. It works fine here. :(

You could try adding this to the frontmatter of the articles:

[code]

... and see if running again fixes it.

[2015-04-21 22:42] taylorren commented on #237
@simensen I think I spotted why you can see the result and I cannot.

You must be running the site with ```generate --server --watch```, while I am serving the site by mapping the `output_dev` to a virtual host in my Apache and then "remotely" visit it from my "local" machine by "http://sculpin".

Confirmed that when ```generate --server --watch```, I can see the rich format in my index page but n

[2015-04-21 23:20] simensen commented on #237
I can't think of any reason why there would be a difference here. All --server does is serve the raw files from the output directory while it watches the files to run generate again. The end result should be exactly the same.

I tried downloading sculpin.phar and running "php sculpin.phar generate" only and everything still looks right. I setup my own vhost for taylorren.local and hit it via apach

[2015-04-21 23:29] taylorren commented on #237
* sculpin generate --watch --server **works**
* sculpin generate **not working**
* sculpin generate --watch **unable to connect to localhost:8000, but remote visit is OK
* sculpin generate --server **not working**

So it is the --watch flag makes the difference. And as I mentioned earlier, even I did not touch anything after --watch --server, the console window keeps on popping something like this

[2015-04-22 08:27] mstyles opened #239 "PHP 5.3 non-compatible syntax being used (short array)"
`PHP Parse error:  syntax error, unexpected '[' in sculpin/src/Sculpin/Bundle/MarkdownBundle/MarkdownConverter.php on line 51`

A couple of classes are using PHP 5.4's short array syntax which is not backwards compatible with PHP 5.3. I noticed there has been some discussion here of removing support for PHP 5.3.x, but unless/until such a change occurs this issue should be addressed, especially for

[2015-04-22 08:55] davedevelopment commented on #239
Fixed in #240

[2015-04-22 08:55] #239 closed

[2015-04-22 12:21] taylorren commented on #237
@simensen

Let's close this issue. I figured out what is wrong.

The virtual machine's `/vagrant/sculpin` is actually mapped from my Windows directory. So actually, `/vagrant/sculpin` does not exist in the Linux machine at all. And it is in that Linux machine, I am running the sculphin.phar.

The virtual machine's mapped directory from Windows is a known issue to Symfony latest release when we try

[2015-04-22 14:52] simensen commented on #237
OK! Thanks for letting me know that this was resolved!

[2015-04-22 14:52] #237 closed

[2015-04-22 22:28] taylorren commented on #237
@simensen Just a re-cap. I abandoned to display MD format in my excerpt after all. Now I use `page.blocks.content|striptags|truncate(70)` to display the excerpt.

But this is still a great discussion and debugging.

[2015-04-22 23:23] taylorren opened #241 "Pagination "prev/next" link"
Hi @simensen

Now that I finished the single page, index page for the site, I am doing the list page for my customized content type.

Github repo: https://github.com/taylorren/sculpin

The URI for list is like: http://localhost:8000/jianshus

The overall display is fine but an issue related to the "prev/next" page link.

It shows: `http://localhost:8000/jianshus/page/2.md`

Not `http://localhost:8

[2015-04-23 18:55] simensen commented on #241
There might be some weird issue w/ naming your index page .md instead of .html ; try renaming jianshus.md to jianshus.html and see if that works.

[2015-04-23 21:11] chrisnharvey opened #242 "Mixing twig tags with markdown"
Hi,

It seems that using twig tags within markdown can stop the markdown from being parsed correctly.

For example, if I'm embedding an image in a markdown file and use:
[code]

The output will be:
[code]

instead of the expected:
[code]

Is there are workaround for this?

[2015-04-23 21:12] simensen commented on #242
@chrisnharvey The workaround for now is to not put spaces around `site.url`:

[code]

[2015-04-23 21:13] chrisnharvey commented on #242
@simensen Perfect! Thank you for the instant response :)

[2015-04-23 21:14] simensen commented on #242
Sure thing! Glad that worked. :)

[2015-04-23 21:14] #242 closed

[2015-04-23 22:44] taylorren commented on #241
@simensen Yes, confirmed. Renamed to .html and the pagination pages are generated properly.

[2015-04-23 22:44] #241 closed

[2015-04-24 23:59] taylorren opened #243 "Custom type for "categories"?"
I would like to create a "meta" content type to list my posts by categories.

[code]

This will generate "Didnt find at least one of this type : categories" when I `generate --server --watch`. Did I miss something here?

[2015-04-28 05:08] alxkolm opened #244 "Sculpin do not install with composer"
With composer

[code]

We get that:

[code]

[2015-04-28 05:55] simensen commented on #244
If you are using Composer you need to specify a few other dependencies at `@dev` stability:

https://sculpin.io/download/#download-via-composer

[2015-04-28 17:41] alxkolm commented on #244
Thanks.

[2015-05-13 21:19] mhitza opened #247 "Getting started steps fails"
[code]

[2015-05-13 21:20] mhitza commented on #247
Nevermind. Only after submiting the issue I realized I was missing the php xml extension on my system :)

[2015-05-13 21:21] simensen commented on #247
@mhitza no problem. :)

[2015-05-13 21:21] #247 closed

[2015-05-23 07:12] lebarde commented on #104
Hello,
+1 for this wanted functionality.
Actually you have to define a new Twig filter and do:

    {% set md = include('your/md/file.md') %}
    {{ md | md2html }}

And it should work.

[2015-05-25 09:37] MattKetmo opened #249 "Keep trailing slash when generating posts URL"
Hello,

I open a new issue from a [previous comment](https://github.com/sculpin/sculpin/pull/238#issuecomment-102380225).

I'd like to know if it's still possible to keep the trailing slash when generating blog posts url?
When having this config:

[code]

The generated url should be `/blog/lorem-ipsum/` instead of `/blog/lorem-ipsum`.

Thanks.

[2015-06-03 17:45] simensen opened #250 "Enable changing output and source directory from CLI"
We should make it easier for people to specify some of the core paths from the CLI. Reported by @skoop.

These values:

https://github.com/sculpin/sculpin/blob/master/src/Sculpin/Bundle/SculpinBundle/DependencyInjection/Configuration.php

[2015-06-03 18:48] WyriHaximus commented on #250
Makes perfect sense to me, tbh I thought it was already in there :+1:

[2015-06-03 18:49] simensen commented on #250
Me too!

[2015-06-06 02:47] tassoevan commented on #121
I just discovered that Sculpin ignores hidden files (.*). Including in `sculpin generate --watch`.

[2015-06-06 04:43] tassoevan commented on #105
Any news?

[2015-06-07 19:08] #105 closed

[2015-06-07 19:19] davedevelopment opened #253 "Broken Build"
https://travis-ci.org/sculpin/sculpin/jobs/65798165

This is my fault, I shouldn't have merged #251, we should probably drop the lock file?

[2015-06-07 19:21] simensen commented on #253
I don't know how I feel about dropping the lock file. I'm thinking maybe we could just bump to 2.1 and say that we are now requiring 5.3.9+ and/or drop 5.3 from Travis test suite? If travis has 5.3.9+ available maybe we could just use that and call it good?

[2015-06-07 19:37] simensen commented on #121
I don't have time to do / test this right now, but I think  we need to add `->ignoreDotFiles(false)` to [this part of FilesystemDataSource](https://github.com/sculpin/sculpin/blob/master/src/Sculpin/Core/Source/FilesystemDataSource.php#L143-L149).

[2015-06-07 19:38] simensen commented on #121
Meaning: PR's accepted! I added the easy pick label so hopefully someone can jump on this if they have some time.

[2015-06-07 20:47] simensen commented on #249
We need to figure out how to allow for this behavior even though the default behavior is to now remove the trailing slash for pretty urls. Hopefully we can find a way to have both.

[2015-06-07 21:55] simensen opened #255 "Fix duplicate require-dev in composer.json"
Reported by @beryllium, the root composer.json is currently horribly broken. There may be other issues as well. (see #253 for additional fun)

Anyone can jump on this.

[2015-06-08 10:29] davedevelopment commented on #253
Ah yes, I suppose the lock file is good for the majority use case of us building a phar, rather than pulling sculpin in as a lib.

I'd agree with bumping to 5.3.9

[2015-07-03 06:00] WyriHaximus commented on #253
I'm also +1 for bumping to 5.3.9 so we can fix the build

[2015-07-07 12:40] patrickallaert commented on #249
I wanted the same behaviour than @MattKetmo at first, but then decided to configure my webserver (Nginx) differently after.

This is the configuration I currently use:
[code]

I now have zero 301/302 redirections when using the website normally, all my URIs does **NOT** finish with a trailing `/` but if the URL is modified to contain a trailing `/` or even: `/index.html`, then it gets redirected t

[2015-07-16 22:13] opdavies commented on #172
@simensen I'm still having the same issue seeing http://localhost:8000/blog/page/2.html.twig after running `sculpin self-update` and updating to v2.0.0-46-g0862cc9. I have a file called blog.html.twig that includes pagination.

[2015-08-01 16:28] davereid commented on #253
This was resolved with https://github.com/sculpin/sculpin/pull/264

[2015-08-01 16:29] #253 closed

[2015-08-01 16:29] #255 closed

[2015-08-07 08:40] finom opened #270 "Admin panel?"
Hi there.

I love static generators but the problem is I have no possibility to create and edit blog posts without my computer, installed environment, etc. I'd like to get my tablet and just open an admin panel. It's very cool that you've built Jekyll alternative on PHP so my idea is very possible.

Any thoughts? I think we may need simple auth and that's it. Your generator could become good alter

[2015-08-07 11:48] Incognito commented on #270
Sounds like a second project which would maintain a collection of content files and then calls sculpin to generate your static site.

[2015-08-10 06:45] PowerKiKi commented on #270
I agree with @Incognito it probably be should a different project. Maybe tools like http://prose.io/ could be combined with a webhook to get what you without too much investment.

[2015-08-11 20:59] ebsen commented on #217
When you get around to this, take a look at [Browsersync](http://www.browsersync.io/). It offers a simpler, more flexible API and a more robust feature set, including an admin panel that provides some great in-browser debugging and a public, live-reloaded development URL. This lets me share a URL to coworkers to review while we code—_super_ handy.

I first learned of the tool through its inclusion

[2015-08-11 21:37] Incognito commented on #217
You may be able to write a reloader that is configurable, so if changes are detected than simply trigger a reload to some endpoint... however... you're adding in a lot of JS that's specific to your use case, and I'm not confident it can scale out. This might be an amazing development plugin but I don't see a clean way to use it for anything except very specific use cases.

[2015-08-11 21:50] ebsen commented on #217
Browsersync and LiveReload do the same thing. Browsersync just does it more helpfully, IMO.

Both are added to the development page via JavaScript and both reload the entire page when a change occurs to a certain file type.

Browsersync can also inject certain changes into the page so that CSS changes appear without a full refresh. This is better for testing things like menus or drop-downs that de

[2015-08-17 12:21] janriokrause opened #271 "Load data from YAML, JSON, CSV"
It would be great to load data from YAML, JSON and CSV. Jekyll supports this feature called "Data Files". See http://jekyllrb.com/docs/datafiles/.

[2015-08-17 14:58] Incognito commented on #271
As in a provider of variables?

[2015-08-17 14:59] simensen commented on #271
@Incognito I believe so, yes. The way I see it, it would be a lot like generating chunks of sculpin_site.yml without putting it in sculpin_site itself.

[2015-08-17 15:04] simensen commented on #271
I think that it would be somewhat easy to implement a `DataProviderInterface` implementation that reads the contents of a file. Maybe a `FlatfileDataProvider` that could be directed to look at sources/_data by default? And the name registered w/ the `DataProviderManager` could be the filename without any suffix. So `sources/data/authors.(yaml|json)` could be brought into a source by doing "use: -

[2015-08-17 15:18] Incognito commented on #271
We may be able to use some of these tools: https://github.com/symfony/Translation/tree/master/Loader -- what we're talking about isn't massively different from translation support.

[2015-08-17 15:38] dragonmantank commented on #271
If we didn't want it in core, then writing a plugin for https://github.com/dragonmantank/fillet wouldn't be that hard.

[2015-08-17 15:42] simensen commented on #271
@dragonmantank My impression was that Fillet was a "run once" sorta thing to migrate something. My impression of this feature is that it would be an ongoing thing and be treated more or less like any other source of a Sculpin site (sculpin_site.yml + anything under source/). Have I misunderstood Fillet in some way or did I otherwise misunderstand what you were getting at here?

If not, I think tha

[2015-08-17 16:28] dragonmantank commented on #271
@simensen My phone didn't show where it was just for storing data variables (I'm stuck with just phone today). Retracting my other comment :)

[2015-08-18 14:23] Incognito commented on #271
@simensen I've had difficulty modifying those in the past to work with a database because they seem to insist on using files (so I had to wrap it in temp streams)... it may be possible to get symfony to break that up a bit further as I think there's a valuable generic case... however, translation may be a nice feature for sculpin if that's in the roadmap.

[2015-08-20 14:34] lury commented on #249
+1
atm. this works kinda weird - i have this config:
[code]
and websites are generated as index.html in title directory, but post.url variable doesn't have trailing slash and i have to add it every time in templates.

rewrite/redirect is not a good solution - i'd like to be able to migrate my wordpress blog without even smallest changes in urls

[2015-08-24 06:01] redbeardcreator commented on #172
I'm seeing the same thing. It looks like the `PaginationGenerator` doesn't utilize the fix from #202.

I have a fix, but won't be able to do a PR for a day or two. Essentially, I've modified the `PaginationGenerator` to use the `SourcePermalinkFactory` for determining the initial permalink, rather than trying to figure it out on its own.

[2015-08-26 04:32] redbeardcreator commented on #172
I didn't put it in the PR, but I believe #272 fixes this issue.

[2015-08-27 21:48] lury opened #273 "taxonomy term index links (and files) are not generated correctly for next/previous page"
I have a site with tags and categories, which have a lot of posts assigned to them.
I don't see any info in sculpin documentation regarding configuration of taxonomy generator url's == i couldn't break it, and i think it's a bug.
### setup:
1. you use sculpin skeleton theme https://github.com/sculpin/sculpin-blog-skeleton
2. you have a tag "foobar"
3. you have >10 posts assigned to this tag
4. tag

[2015-08-28 00:38] lury opened #274 "sculpin generate is slow due to reloading config (?) for site variables"
Hi,

i have a blog with approx 1k posts, and sculpin generate takes around 40-45sec.

since i have to regenerate it time after time while developing my theme (and i need a lot of test posts to check i.e. taxonomy index pages #273 ), it's pretty annoying, so i've decided to look at blackfire.io tree: https://blackfire.io/profiles/3f5e5cb9-a031-48f1-bfd6-f48cd73f6525/graph?callname=Dflydev%5CPlaceho

[2015-08-28 08:30] lury commented on #273
#272 is not fixing this.

[2015-08-28 08:51] davedevelopment commented on #274
I think it's a valid concern, despite your blog being larger than the average sculpin site!

:+1: for some sort of caching

[2015-09-11 22:42] alexeych commented on #110
BTW, how about "all" data type? I don't use posts content type (not a blog), but use several custom content types. And to generate sitemap.xml I need to iterate all my pages (with various content types). Cannot understand how can I iterate all pages in a single loop?

[2015-09-12 11:07] alexeych opened #275 "'Url' page key contains backslashes on Windows instead of common slashes"
In my WAMP environment (Windows 7, PHP 5.4) the page 'services/consulting/apply' will have 'url' key equal to 'services\consulting\apply'. That makes impossible to use 'url' key for any purpose where we need 'real' url with common slashes.

[2015-09-15 10:36] dupuchba commented on #221
@simensen I didn't not have the time to work on it as I changed company ^_^. Thanks for you help though, it was really usefull

[2015-09-15 10:36] #221 closed

[2015-09-27 22:38] JeroenDeDauw commented on #121
Should be closed now?

[2015-09-28 06:57] settermjd opened #276 "Problem with Permalinks"
Hey all,

I'm in the process of porting an existing site, masterzendframework.com, to Sculpin and have run in to an issue with Permalinks. I used the [Jekyll Exporter](https://github.com/benbalter/wordpress-to-jekyll-exporter) to export content from WordPress.

Here's a sample of the Yaml front matter:

[code]

The permalinks which are generated in the exported Markdown files follow a format like

[2015-09-28 07:13] devjack commented on #276
Looks like octet-stream is set in the [Sculpin\Bundle\SculpinBundle\HttpServer\HttpServer line 77](
https://github.com/sculpin/sculpin/blob/master/src/Sculpin/Bundle/SculpinBundle/HttpServer/HttpServer.php#L77)
Specifically since the file doesn't have a .html extension it's not picking up its guessed MIME type.

I'm not familiar with friendly URI's in sculpin. If there's not a setting then I'd pro

[2015-09-28 07:18] settermjd commented on #276
Thanks @devjack.

[2015-10-06 21:12] nielsonm commented on #121
Looks good to me.  @neochief Does it work for you?

[2015-10-12 11:17] norzechowicz commented on #121
@nielsonm It's working (at least for me) but its not available in sculpin yet.
Latest version available through selfupdate command is Sculpin:
Sculpin version 2.0.x-dev (v2.0.0-46-g0862cc9)
which as I believe reference to 0862cc910e5627cdae5881ff7d9c1e8c17cf849a and it would require update to at least cee06a4470493fcc11a88462944aad34cf7061eb in order to make it works.
@simensen any chance for upda

[2015-10-12 18:58] YanMagale opened #280 "How do i collaborate with project?"
Hi guys.

So, i have using sculpting in my pessoal projects and i do want a collaborate with project.

What are the skills needed to be able to contribute and understand the core of the project?

[2015-10-12 20:03] simensen commented on #280
@YanMagale Knowledge of Symfony is probably a huge plus (at least how bundles work together!) but we don't actually use HTTP Kernel. I think the low hanging fruit would probably be documentation related things. Usability and tweaking the blog skeleton to make it easier to use/make things more obvious.

Do you have links to your personal projects using Sculpin?

[2015-10-13 12:05] YanMagale commented on #280
Got it. In case I have not published anything yet. Thanks @simensen

[2015-10-13 12:05] #280 closed

[2015-10-15 10:00] lucascorbeaux commented on #275
Hi there,

I think the problem is in the PermalinkFactory: the url path is based on the file path, which leads to such a problem on WAMP.

I'll submit a PR, it's probably just needing something like `$relativeUrlPath = str_replace(DIRECTORY_SEPARATOR, '/', $relativeUrlPath);` to made the url platform agnostic.

[2015-10-24 16:12] thomas-p-wilson opened #285 "Twig imports broken"
I'm on Sculpin v2.0.0-46-g0862cc9. I've been trying to import macros from another Twig source (`_views/macros.twig`) with no luck. I pulled these macros from my library of macros that I use in most of my Twig projects. I initially thought that it might have been a problem with one or more of my macros, but I'm now down to just:

    {% macro tag(name) %}
    <span class="label label-default"><a hr

[2015-10-24 16:56] beryllium commented on #285
Hi there. I've had a few issues with this myself, I'm not sure what the exact cause is. A few things to try:

* Declare the import at the top of each page or post the macro will be used on
* Use the full name for the macros file (either macros.twig or even _views/macros.twig)
* Declare the macro within the page and then use the self-importing notation to try and get it working

It's possible that

[2015-10-24 18:02] thomas-p-wilson commented on #285
* The import is presently declared at the top of the only file in which the macro is used.
* The `FlexibleExtensionFilesystemLoader` throws an exception when it can't find the file in question, so it's most certainly not a file-loading issue. That said, attempting to load anything other than `macros` results in an exception.
* Importing _self does not work.

I'm diving into the source now, but I'm

[2015-10-24 18:16] beryllium commented on #285
OK, I just did a test run with a complete clean slate and I was able to get this to work using {% import 'macros' as testy %} in my posts template, then using this in the individual posts (without having to import in each post):

{{ testy.test_macro('test test') }}

[2015-10-24 18:21] thomas-p-wilson commented on #285
Okay. I think you and I have two different situations. You're trying to use your macros in your posts, while I'm trying to use my macros in an ordinary page (currently just my index for testing). Where do you keep your macros? I started off with mine in `_views/macros.html`, but couldn't get them to work. Having moved them to `_includes/macros.html` they seem to work now. Does this seem right?

[2015-10-24 18:23] thomas-p-wilson commented on #285
Yep, can confirm that it definitely works when I keep my macros in the `_includes` directory.

[2015-10-24 18:31] beryllium commented on #285
Ah, I see. Hmm. I guess it might related to where Sculpin tells Twig to autoload from in each context; perhaps Sculpin needs a separate _macros location for both post & page contexts.

[2015-10-24 18:31] thomas-p-wilson commented on #285
I haven't tried loading it in posts yet. If it loads from _includes, then perhaps that remains a sensible location for such things?

[2015-10-24 18:36] beryllium commented on #285
Heh. Yes, that does seem to work just fine :) Got a little carried away with myself there.

[2015-10-24 18:39] thomas-p-wilson commented on #285
@simensen If I am not mistaken, the documentation seems to overlook this matter. May I recommend adding some documentation to this effect? I am willing to update the docs if need be.

[2015-10-26 10:17] simensen commented on #285
@thomas-p-wilson I'm not opposed to that. Where in the docs do you think this type of information should live? I almost think there needs to be a sub-section under Formatters called Twig that contains other information that relates to Twig. That or else another Misc section under which a Twig specific section could live.

[2015-10-26 12:01] thomas-p-wilson commented on #285
If the `_includes` directory is specific to Twig, then I agree that it should likely live under Formatters > Twig. If the `_includes` directory is used elsewhere, by bundles/plugins other than Twig, then perhaps it should live somewhere more central. Also, I'm thinking that spots like https://sculpin.io/documentation/basic-project/, which have an example directory structure should be updated. That

[2015-10-26 12:04] simensen commented on #285
@thomas-p-wilson well, i guess it already says it on the Twig page. It just might not be obvious what kind of impact this has:

This means that macros and other twig templates (basically anything that Twig tries to load) can live in any of _views, _layouts, _partials, or _includes.

[2015-10-26 12:06] thomas-p-wilson commented on #285
Ahh, so it does. The question then is why I couldn't load my macros from `_views` or `_layouts` but could from `_includes`. That seems sensible to me though.

[2015-10-26 12:07] simensen commented on #285
@thomas-p-wilson yeah, that is weird. i'm not sure why it would not have been. you could try to make sure that you can include templates (not macros) from _views and _layouts... maybe there is something weird in how Twig handles macros that it isn't looking at the loader in the same way that I'm expecting it to be used everywhere else.

Sorry for the trouble. :) It really should be working from al

[2015-10-26 12:14] thomas-p-wilson commented on #285
No trouble at all. I've got things working to my satisfaction.

I think the salient point here is that, if I move my `macros.twig` file back into `_views` or `_layouts`, everything works just fine now. I was clearly doing something incorrectly. Closing this issue as I can no longer replicate it, and @beryllium seems to have resolved it on his end as well.

[2015-10-26 12:14] #285 closed

[2015-10-28 15:06] szyam opened #287 "Category in the CPT URL?"
Hello, Sculpin seems awesome, just starting to use it to see if it will work for some specific projects. I cant seem to find a way to add the 'category' to the URL of a CPT? Is this possible?

Thanks in advance.

[2015-11-20 02:51] redbeardcreator opened #291 "Deleting or renaming a post does not trigger a rebuild in watch mode"
When working on a new post, I tend to rename it several times. Sculpin doesn't pick up on this when run as `sculpin generate --watch`

[2015-11-24 10:33] opdavies commented on #244
@simensen Why would this be if the dependencies are listed in https://github.com/sculpin/sculpin/blob/master/composer.json?

[2015-11-24 10:46] simensen commented on #244
@opdavies Because there are no stable versions of those dependencies. Composer itself only has alpha at best. By all rights, Sculpin itself should not be able to be stable as well, as it depends on Composer, but yeah. :)

(all of the `@dev` dependencies are related to Composer; `composer/composer`, `dflydev/embedded-composer-core`, and `dflydev/embedded-composer-console`)

[2015-11-24 11:01] opdavies commented on #244
@simensen Ah, I see. I thought that's what the `@dev` part of the line signified, but I guess I misunderstood.

[2015-11-24 11:04] simensen commented on #244
@opdavirs yep it comes down to minimum stability. :) the root package controls that. When I build sculpin Phar then sculpin is the root package. When you include sculpin as a dependency then sculpin itself is no longer the root package so it defaults to stable for all of those dependencies. Which would be fine except there are no stable versions of those packages.

[2015-11-24 11:11] opdavies commented on #244
@simensen Thanks for the explanation. :+1:

[2015-11-24 15:08] ebsen commented on #217
Hey. I want to apologize about my attitude above. They're just tools; I did not need to be so rude about them.

Sorry, everyone.

[2015-12-03 16:31] georgjaehnig opened #293 "Markdown for YAML variables?"
Hi, I have some complex post structures, so I use a lot of custom variables in the YAML area of a post, for instance:

[code]

In the view, these custom variables are output and it works fine so far:

[code]

Now, I would like to put markdown into these custom variables. I just tried and added a filter to the Twig variable:

[code]

– but no success. Is there maybe any easy way already available?

[2015-12-04 22:43] Swader commented on #276
I am also running into this now. @settermjd have you managed to resolve this?

The symptom is that if I change the permalink structure in the default Sculpin setup even slightly, the individual folders with matching index.html files inside simply aren't being generated - all posts are generated as files without extensions, whereas they should in fact be folders containing the post as `index.html`

[2015-12-09 09:36] davedevelopment commented on #217
@ebsen Sorry I meant to comment earlier, but double checked to see if there was something out of band that I missed... I don't think you need to apologise for anything, I certainly didn't take offence to anything you said.

[2015-12-15 17:34] mikebell opened #294 "Exclude folders from sculpin generate"
I've been creating a new theme for my blog and I'm using gulp with an assortment of plugins. Every time I modify a template it copies all the local node_modules over to the output_dev folder. It looks like it's copying everything over from the source directory as well which slows down generating quite a bit.

Is it possible to exclude files/folders from being moved during the generate phase?

[2015-12-15 18:41] mikebell commented on #294
https://sculpin.io/documentation/configuration/#sculpin-kernel-configuration

[2015-12-15 18:41] #294 closed

[2015-12-18 20:28] mikebell opened #295 "PHP Using 100% CPU and 1 minute page loads"
Using:
`PHP 5.6.13 (cli) (built: Sep 30 2015 16:50:48)`
`Copyright (c) 1997-2015 The PHP Group`
`Zend Engine v2.6.0, Copyright (c) 1998-2015 Zend Technologies`

I'm running sculpin --generate --watch and I'm seeing PHP use 100% of 1 cpu thread and up to a minute for it to load all requests:

Processing completed in 12.29 seconds
[18/Dec/2015 20:18:35] "GET / HTTP/1.1" 200
[18/Dec/2015 20:18:50] "G

[2015-12-18 22:08] GrahamCampbell commented on #295
I think that's the expected behaviour. Sculpin is primary designed to be run once, then you browse the static generated website.

[2015-12-19 11:17] WyriHaximus commented on #295
@GrahamCampbell it isn't as react is designed to do async IO without excessive CPU usage but under certain circumstances with older versions of react it can happen. Just filed PR #296 that bumps `react/http` to the latest major version which includes fixes for this behavior.

[2015-12-19 11:27] GrahamCampbell commented on #295
:+1:

[2015-12-19 23:32] stevleibelt opened #297 "PHP Fatal error: Cannot use 'String' as class name as it is reserved in phar: when using php 7"
Hey there,

I get the following error when switching to php 7.

[code]

Kind regards,
stev

[2015-12-21 12:04] gnugat commented on #297
Same here, the error seems to come from [justinrainbow/json-schema](https://github.com/justinrainbow/json-schema).
Luckily for us, it's been [fixed in JSON Schema v1.4](https://github.com/justinrainbow/json-schema/releases/tag/1.4.0) so maybe an update of Sculpin's dependencies might ix the issue.

[2015-12-21 15:15] opdavies commented on #244
@alxkolm I've got it to work by setting `minimum-stability` in my composer.json (see https://github.com/opdavies/oliverdavies.uk/blob/master/composer.json). I can then include just the one `sculpin/sculpin` requirement rather than all of the separate dependencies.

[2015-12-30 10:07] kbsali commented on #270
The python world just got a new comer in the static site generator eco-system which comes with an admin panel : https://github.com/lektor/lektor
It really looks brillant!

[2015-12-31 23:08] tchalvak commented on #270
Lektor is pretty interesting, I checked it out and I really like it's admin-panel, seems very simple to use.  It's a little weird that I couldn't find anything about how to "compile" the html into a deployable site, though.

[2016-01-04 19:52] evert opened #299 "PHP 7 support"
Sculpin does not support PHP7 to my surprise!

I'm getting the following error:

    Fatal error: Cannot use 'String' as class name as it is reserved in phar:///home/evert/bin/sculpin/vendor/justinrainbow/json-schema/src/JsonSchema/Constraints/String.php on line 18

[2016-01-04 19:53] evert commented on #299
This is a duplicate of #297

[2016-01-04 19:53] #299 closed

[2016-01-04 20:07] simensen commented on #297
@evert @gnugat @stevleibelt Can any of you do a `sculpin self-update` and see if it gets further PHP 7 now?

[2016-01-04 20:18] evert commented on #297
Would you mind providing a .phar? I don't have multiple PHP's running and self-update breaks before it can update itself.

[2016-01-04 20:25] simensen commented on #297
@evert sure!

`curl -O https://download.sculpin.io/sculpin.phar`

There is a link here, too: https://sculpin.io/download/

[2016-01-04 20:29] evert commented on #297
Works! awesome.

*builds site immediately*

[2016-01-04 20:51] simensen commented on #297
Awesome. I'm closing this until we find the next PHP 7 issue. :)

[2016-01-06 09:30] gnugat commented on #297
Thank you for looking into this!

[2016-01-06 17:11] evert commented on #297
Hey, I'm very sorry but I made a mistake. I think I just tested this on the computer I was on at the time, which had PHP 5.6. Trying this again on my laptop (this time with PHP7 for real) still throws this error.

What change did you make @simensen to support this? Is it using the correct version of json-schema now?

[2016-01-06 17:13] simensen commented on #297
@evert Did you get a brand new version of the phar via direct download? What version does it say when you run the version command? If you can provide the full error output that would be helpful, too, so I can try and track this down better.

[2016-01-06 17:24] evert commented on #297
Alright I also understand a bit better what went wrong earlier.

If I run sculpin in a random directory, sculpin runs and I get:

    Sculpin version 2.0.x-dev (v2.0.0-46-g0862cc9) - app/dev/debug

This is what must have tripped me over. When I `cd` into my actual sculpin website's directory I get the earlier error.

[2016-01-06 17:26] simensen commented on #297
@evert huh. so you still get the string error message when you are in your website directory? are you installing sculpin locally in that directory via composer.json instead of using the phar? i'm pretty confused about what is actually going on and i'm not sure if you're saying you still have a problem or not.

[2016-01-06 17:35] evert commented on #297
So... yes I do still get the error.

Steps to reproduce:

1. Install php7
2. Install latest sculpin
3. run `sculpin` (no error)
4. Download my website source
5. `cd` into source
6. Run `sculpin` again, receive error.

I'm not installing sculpin via composer manually, just using the phar.

Links:
  * [sculpin.json](https://github.com/fruux/sabre.io/blob/master/sculpin.json)
  * [sculpin.lock](https

[2016-01-06 17:36] simensen commented on #297
Can you share the error as well? The one you get showing the broken class?

[2016-01-06 17:38] evert commented on #297
[code]

[2016-01-06 17:41] simensen commented on #297
Alright, something is wrong w/ my build script. :( I'm on it.

[2016-01-06 18:52] simensen commented on #297
@evert Sigh. There seems to be something very weird w/ box (or how I'm using it) because `sculpin --version` is very different output from `sculpin --git-version`. However, aside from that, it is possible that my last uploaded build didn't actually go in right as the `--version` output you pasted earlier was not current. This will take me some time that I don't have right now to resolve. :(

All t

[2016-01-06 18:53] simensen commented on #297
By that, I mean that PHP 7 *should* be fully supported by what is in the repository now. I need to fix this build pipeline soon, though, so hopefully it will only be a temporary workaround.

[2016-01-06 18:54] evert commented on #297
alright thanks, good to know! at least I'll have a workaround

[2016-01-07 09:17] gnugat commented on #297
I confirm that this workaround works (I used it while waiting for the fix, but forgot to mention it here, sorry about that).

[2016-01-25 10:31] enguerranws opened #300 "Sculpin include SVG"
Hi,

I'm working on a project with Sculpin, using Twig templates. Right now I'm trying to include SVG files (to output SVG code, not a `<img>` element), by making an `include` of the SVG itself.

So, I tried :
`{% include 'img/icons-svg/my-icon.svg' %}`

But this output a blank page (no HTML). I can't find any topic on this subject, can you help me with that ?

[2016-01-25 10:39] simensen commented on #300
@enguerranws I believe that Twig will only look for includes in one of the template paths (currently _layouts, _includes, _views, _partials, I think?) If you try putting your .svg in one of those directories I think you might have better luck. (so for example, `{% include '_includes/img/icons-svg/my-icon.svg' %}`)

[2016-01-25 10:43] enguerranws commented on #300
@simensen Unfortunately, that doesn't work (still a blank page).

[2016-01-25 13:05] simensen commented on #300
@enguerranws sigh. my bad.

[code]

... but the actual svg should be in `source/_includes/img/icons-svg/my-icon.svg`. i wanted to include the `_includes` in the path to make a point where it should go but i included it at the wrong place. :(

hopefully that works. if not, someone else will have to jump in. i think that @beryllium has experience using includes and macros and might be able to help.

[2016-01-25 13:14] enguerranws commented on #300
This is working, thank you so much.

Is there any mention of that in the documentation ?

[2016-01-25 13:30] simensen commented on #300
@enguerranws I doubt it because people ask about it from time to time. I never think about it because it is logical to me because I wrote it. :-/ Twig deals w/ imports/extends/etc in all the same way. It gets its content from pre-configured directories only. It is sort of discussed here:

https://sculpin.io/documentation/layouts/

However it only talks about it in terms of `extends`. There could p

[2016-01-25 17:10] dannyweeks opened #301 "Paginated single category pages don't work beyond the index"
I have replicated this bug by cloning the sculpin-blog-skeleton and added more than 10 posts that all belong to the same category.

You can see a live version of this bug here http://dannyweeks.com/blog/categories/my-thoughts with the pagination link at the bottom.

I have more than 10 posts in my 'My Thoughts' category so therefore the expected next page url would be something along the lines of

[2016-01-26 01:19] tchalvak commented on #301
While you're right that the link generates as you mentioned, your current configuration seems to download a file when the link is followed.

http://dannyweeks.com/blog/categories/2

[2016-01-26 09:01] enguerranws commented on #300
Thank you. I've already read this document

[2016-01-26 09:01] #300 closed

[2016-01-26 09:15] dannyweeks commented on #301
Yes strangely that is what is generated. The default sculpin-blog-skeleton also produces this same issue.

![](https://i.gyazo.com/765b587f45c3918672c6ee36a4a038d8.png)

[2016-02-20 07:35] taylorren opened #304 "tags, category not generated for a customized content type"
In `sculpin_kernel.yml`, I created a new customized type:

[code]

And created a new entry in `_reports` directory:

[code]

To make it clean, I deleted the `output_dev` directory every time before running `sculpin generate`. But under my `output_dev` directory, there is only `report` directory and in that directory, one file named "preface-tr.html". There should be a `category` and `tags` directo

[2016-03-01 06:34] samwilson commented on #64
I agree with @resmo. I think the publish.sh scripts that come with the skeleton site are great. No need to make deployment an actual part of Sculpin.

[2016-03-01 13:42] tchalvak commented on #64
Yeah, seems more appropriate for a wiki or docs site.

[2016-03-02 17:54] tpavlek opened #305 "Feature: URL Aliases"
I like to have pretty URLs enabled, but those can be taxing to say for example at the end of the podcast. I'd prefer to be able to say go to my-site.com/2 and have that be able to redirect to the actual post location.

To that end, I think it would be nice if you could put in sculpin_kernel a "redirects:" key that would contain key: value pairs of 'redirectPath': 'redirectTarget'. For generation t

[2016-03-07 00:25] samwilson commented on #244
Composer has inched closer to being stable: [1.0.0-beta1](https://github.com/composer/composer/releases/tag/1.0.0-beta1) was released this week.

But yeah, the following works for the time being:

    "minimum-stability": "dev",
    "prefer-stable": true,

[2016-03-12 17:07] vrkansagara commented on #297
Am still facing some related issue here .

Recentily I have downloaded the a skeleton and tried to install it as bellow.

[code]

` sculpin.phar  --version`
`Sculpin version 2.0.x-dev (v2.0.0-46-g0862cc9) - app/dev/debug`

[code]

What I am doing wrong.

[2016-03-12 17:57] stevleibelt commented on #297
@vrkansagara so far, nothing beside switching back to php 5.6.*

[2016-03-13 04:21] vrkansagara commented on #297
@stevleibelt  Thanks.

[2016-03-13 11:04] gnugat commented on #297
Or as mentioned by @simensen use this work around for PHP 7:

[code]

[2016-03-13 11:40] vrkansagara commented on #297
@gnugat
I think you are talking about how to  optimized  autoload  file.
The main problem with the `sculpin.phar` file while executing without any parameters.

[2016-03-13 15:11] gnugat commented on #297
Nope, I'm talking about installing a PHP 7 compatible sculpin.

The error you get is caused by a dependency of sculpin that isn't compatible with PHP 7 (it has a class named String, and string has become a language keyword in PHP 7). It is only encountered when using the installer. If you install sculpin using the instructions I've given you won't have the issue. Give it a try.

[2016-03-13 17:24] vrkansagara commented on #297
@gnugat  Am taking about running a server with `sculpin.phar` and yes for your answer as `sculpin.phar installation ` I have already installed using composer so dont worry man.

[2016-03-14 10:46] KristiyanHristov commented on #250
:+1:

[2016-04-02 23:23] Ollie-w commented on #297
I have the same problem. When I try to run Sculpin install I get the message

[code]

[2016-04-07 13:54] petemcfarlane commented on #297
I'm still having the same problem. I followed the instructions as described by @gnugat except instead of copying the executable, I created a symlink, like so:

    git clone https://github.com/sculpin/sculpin.git
    cd sculpin
    composer install -o
    ln -s bin/sculpin /usr/local/bin/sculpin

[2016-04-08 06:09] devjack commented on #271
I'm looking into this at the moment, specifically to be able to use sculpin to consume and spit out nicer-than-swagger documentation (so YAML to drive both content and structure).  For my case I'm thinking its better off as a plugin but I'll be exploring that (and would love thoughts on how it ties in here as well)

[2016-05-07 21:32] endafarrell commented on #63
+1
I too have been trying out https://gist.github.com/mrkrstphr/2e79e55229b2ef7a343a  but GitHub Pages states  "Your site is having problems building: Page build failed. For more information, see https://help.github.com/articles/troubleshooting-github-pages-build-failures." I'm trying to find out why.

[2016-05-17 22:36] badpenguin opened #308 "sculpin generate + watch will loop forever"
I dunno what happend, just added
use: [portfolio]
to some page and the watch process is keeping regenerating pages in a loop forever.

Any way i can help debug this problem?

[2016-05-17 22:37] badpenguin opened #309 "custom post type loop in sidebar"
I've a sidebar on everypage using twig include.
Is there a way that i can globally set
use: [portfolio]
so that i can access this custom post type in all the pages
since its used by the siderbar?

[2016-05-18 21:43] KingCrunch commented on #297
The phar downloads still contains [`justinrainbow/json-schema:1.3.7`](https://github.com/sculpin/sculpin/blob/0862cc9/composer.lock#L765-L766), so even `self-update` doesn't fix it. Could you publish a new version (maybe 2.1?) with the fixed dependencies?

[2016-05-18 23:51] evert commented on #297
That would be so great! Sculpin is starting to look bad!

[2016-05-19 04:46] vrkansagara commented on #297
:+1:  @evert

[2016-05-19 06:47] opdavies commented on #244
As part of https://github.com/opdavies/oliverdavies.uk/issues/25, I've had to include `composer-plugin-api` as a dependency too for Composer 1.1.1.

See https://github.com/opdavies/oliverdavies.uk/blob/master/composer.json#L14 for the latest version.

[2016-05-19 16:36] kachkaev commented on #186
That's a long year! :–)

[2016-05-20 09:48] ifdattic commented on #276
@Swader run in the same problem. After some playing around learned that the important part is the `/` at the end, so `permalink: blog-custom/:year/:month/:day/:filename/` should be working.

[2016-05-21 01:08] simensen commented on #309
This is not currently supported. I think this is why you were seeing looping behavior reported in #308.

[2016-05-21 01:08] #309 closed

[2016-05-21 01:10] simensen commented on #308
As mentioned in #309 this is likely happening if you are, say, using portfolio on a source that is already a portfolio. I'll leave this one open, though, as it is possible you are running into another type of problem.

[2016-05-21 01:10] simensen commented on #305
I don't know how well it works but you can try looking at this package:

https://github.com/mavimo/sculpin-redirect-bundle

[2016-05-21 01:28] simensen commented on #297
I spent some time tonight looking at the sad state that is the Sculpin build process. There are several places that things have fallen down. Not the least of which is that my automated subtree repository splits are broken. The infrastructure there was so hacky I don't even know where to begin to fix it. It would take more time and energy to fix it than I have to put into it at this point.

This me

[2016-05-21 02:35] evert commented on #297
hm. well composer for dependencies as sculpin just for building the site makes as much sense, and maybe even more sense to me than the current model ;)

But right now I'm using a globally installed sculpin. So is full upgrade path then:

[code]

And then I should be able to just call `vendor/bin/sculpin`

Or am I missing something?

[2016-05-23 07:04] simensen commented on #297
@evert yes, that should be close. most likely:

[code]

as for doing why sculpin was doing what composer does is because sculpin initially started out as a proof of concept for the whole idea of embedding composer into an application to manage application-specific plugins. i wanted an app that shipped as a phar that managed all of its own dependencies and allowed you to extend it by installation p

[2016-05-23 09:53] simensen commented on #297
Getting closer but I'll have to look at it more tonight. Looks like I need to update the theme package to support composer-plugin-api `^1.0` instead of just `1.0.0`.

[code]

![image](https://cloud.githubusercontent.com/assets/191200/15467041/47e5a078-20d4-11e6-9cb6-8115f2053da4.png)
http://d.pr/i/9g7w

[2016-05-23 22:01] #301 closed

[2016-05-24 17:16] evert commented on #297
Exciting! Thanks for picking this back up @simensen . I imagine not embedding composer might also reduce the footprint of sculpin quite a bit, making it easier to maintain.

[2016-05-24 20:15] simensen commented on #297
After tagging the plugin I was able to get this migration path to work just fine. I was also able to do some simple benchmark stuff to see the speed difference that PHP 7 makes for the first time. :) Good times.

@evert Can you try the migration on your site to see if it works?

Thanks!

[2016-05-24 20:43] simensen commented on #297
Both beau.io and sculpin.io are now built using this migration path and my deploy scripts on forge have been updated accordingly. Everything looks good.... so far.

 * https://github.com/simensen/beau.io/commit/db1cdd4038a07b37b645f9a122a397f717fdd255
 * https://github.com/sculpin/sculpin.io/commit/889caa2dc0dddaf02f04d6dc99f9f45f73579f8d

[2016-05-24 23:10] evert commented on #297
Still getting an issue with this:

[code]

[2016-05-25 12:22] badpenguin commented on #308
Indeed. The type is portfolio and i'm forced to have "use: [portfolio]" in that page because of the sidebar.
The only issue seems that the "watch" command is looping. The generated websites seems OK.

So, this just will not be fixed because its an unsupported use-case?

[2016-05-25 12:25] simensen commented on #308
Unfortunately for now it is unsupported. As you found it *does* work but will cause an infinite loop while doing `--watch`.

[2016-05-29 01:00] evert commented on #297
Some news: it worked now.

the difference? I'm installing on PHP 7. I've always been going back and forward between PHP 5 and 7, and I only got that dependency problem when trying it on PHP 5.

Works on 7 though!

[2016-06-20 18:29] Joaz opened #312 "<meta name="robots" content="noindex, follow"> in default layout"
Hello,

I recently set up a small website with sculpin and wondered why it wouldn't be found in search engines until a friend of mine pointed out to me that the sites include this meta tag:

<meta name="robots" content="noindex, follow">

Aargh! I noticed the default robots.txt but that? Why would that be put in a bootstrap layout file?

[2016-06-20 19:10] WyriHaximus commented on #312
That was initially introduced with https://github.com/sculpin/sculpin-blog-skeleton/pull/23 now the theory is that only the content matters and not the pages linking to it. [Now your posts should have this tag instead](https://github.com/sculpin/sculpin-blog-skeleton/blob/master/source/_views/post.html#L4):

[code]

My blog has those tags in place and when searching for it the posts do show up on

[2016-06-21 08:30] WyriHaximus commented on #312
I'll make a PR soon with an example static page to mitigate this in the future.

[2016-06-30 07:06] ChristianRiesen commented on #249
#313 should fix this.

[2016-06-30 09:47] lucascorbeaux commented on #250
Hi there,

Not sure this issue is really clear, or is even an easy pick. If I'm not wrong, containers are compiled and then are immutables. When they are compiled, we don't have access to an InputInterface object, so there's no way I know to populate containers with CLI parameters before compilation.

Is there any way to overwrite default values with cli parameters without a massive code duplicati

[2016-06-30 12:35] ChristianRiesen commented on #249
@simensen ping for a review.

I think this would be a very good addition to have. Also added a test case for it.

[2016-07-01 07:16] ChristianRiesen commented on #250
From http://symfony.com/doc/current/components/dependency_injection/parameters.html :
`$container->setParameter('mailer.transport', 'sendmail');`
Or in this case:
`$container->setParameter('sculpin.output_dir', 'some/dir);`
That should do the trick nicely in the command. I'll see if I can add a PR for that.

[2016-07-02 08:25] promarcel opened #314 "Pagination generate .twig instead of .html file"
Hey everyone!

I've an litte issue with sculpin.

On all of my list-pages there is an pagination integrated. Now there have generated an folder `/page/2` in this directory is an `index.twig` file instead of an `index.html` file.

Sculpin is up to date and also all composer dependencies. Have anyone an idea to fix this issue?

[2016-07-28 16:16] rachelwhitton commented on #273
As a workaround, I'm using the following oneliner to rewrite files such as `/<path>/<taxonomy>/page/2.html` to `/<path>/<taxonomy>/page/2/index.html`:

[code]

I'm also using the [trim](http://twig.sensiolabs.org/doc/filters/trim.html) filter to clean up the URL: `page.pagination.previous_page.url|trim('.html')` resulting in URLs such as `/<path>/<taxonomy>/page/2`

[2016-08-25 14:02] georgiana-gligor commented on #297
I'm still experiencing this, has anyone reached any progress? I'm using the beta macOS and this is the only thing that is not working.

[2016-08-25 14:19] simensen commented on #297
@georgiana-gligor Hi! I apologize for the problems you have been experiencing. Are you trying to use the phar? Or are you using composer installed version for your site? Is your repo public? :)

[2016-08-25 14:23] georgiana-gligor commented on #297
Hey @simensen , thanks for the quick reply!
My repo is publicly available here: https://github.com/tekkie/tekkie.ro

[code]

I grabbed the phar and moved it with `+x` permissions under `/usr/local/bin/sculpin`. I can't find out its version or anything, as I get the `Cannot use 'String' as class name` message.

[2016-08-25 14:40] simensen commented on #297
@georgiana-gligor Yeah, OK, I need to get this blogged about. :( The phar distribution stuff is broken and stuck at an older version of Sculpin. That version of Sculpin doesn't support PHP 7 and I don't think there will ever be a phar that supports PHP 7.

Let me see if I can get your site building under PHP 7 sometime today using composer installed Scupin instead of the phar. But first I should a

[2016-08-25 14:43] georgiana-gligor commented on #297
Would be happy to help you with this, I would prefer not to switch to another system. It took me a month to decide on it anyway...

The thing that got me started specifically today was that I wanted to add a blogpost about how I went to a tech conference and give the organizers a link to promote, but I guess I can wait until tomorrow.

I just I don't add a lot on your plate in a short amount of ti

[2016-08-25 20:14] georgiana-gligor commented on #297
I'll add my solution here, in case someone else needs it. Thanks @simensen for helping me find it!

A few months ago I moved `sculpin.json` to `composer.json` and added
[code]
as dependencies in the `require` section of my new `composer.json`.

My mistake was that I kept on running the `/usr/local/bin/sculpin` version, which was not running.

The correct way to call it for me was to use `./vendor/

[2016-09-01 15:46] simensen commented on #297
I'm going to close this issue now. I've finally blogged about [Deprecating Phar Distribution and Embedded Composer](https://blog.sculpin.io/2016/08/31/deprecating-phar-distribution-and-embedded-composer). If we still have issues w/ PHP 5.x please open a new issue for that. I'm guessing that we should bite the bullet and upgrade all of our Symfony stack to fix those issues.

Thanks for all your pat

[2016-09-01 15:46] #297 closed

[2016-09-09 12:57] #188 closed

[2016-09-09 17:58] TomasVotruba opened #315 "Missing maintainer?"
This projects looks un-maintained with last (and only) release almost 2 years ago.
I had a great start and it would be pity if dying.

Any info to this?

[2016-09-09 18:20] Incognito commented on #315
<img width="1007" alt="screen shot 2016-09-09 at 2 20 05 pm" src="https://cloud.githubusercontent.com/assets/379322/18397962/933ca444-7698-11e6-8c60-910f8598901d.png">

It looks actively contributed to when I look at the commit log.

[2016-09-09 19:18] TomasVotruba commented on #315
3 commits in last 4 months is not really health development activity (and one of mine just adding single line in `travis.yml`).

I understand it's not dead yet. But it could be better.

### Release(s)

![image](https://cloud.githubusercontent.com/assets/924196/18399707/8d9434aa-76d2-11e6-884b-3c62055b3d53.png)

### Too long alive PRs

![image](https://cloud.githubusercontent.com/assets/924196/1839

[2016-09-09 20:35] beryllium commented on #315
This blog post explains why sculpin has been quiet for a bit: https://blog.sculpin.io/2016/08/31/deprecating-phar-distribution-and-embedded-composer

[2016-09-10 19:41] TomasVotruba commented on #315
@beryllium Thanks for sharing the post. I saw only info about 2 deprecations. But text is way too long for me to be read with full attrntion.

Is there anything relevant to my question?

[2016-09-10 19:47] beryllium commented on #315
Yes.

[2016-09-10 19:47] #315 closed

[2016-09-10 19:50] TomasVotruba commented on #315
Could you past it here please?

Why did you close the issue?

[2016-09-10 19:50] beryllium commented on #315
Specifically, the Loose Ends section at the beginning is relevant to your question:

[2016-09-10 20:10] beryllium commented on #315
I closed the issue because it seemed to me that the question had been answered ("any info to this?"). I agree that it would be a pity if Sculpin were to die, and it's true that things have been slow lately. The main reasons for this:

* Core concepts of Sculpin 2 were making it very hard to develop and were also incompatible with php 7
* Beau (the main maintainer) has been very busy this year with

[2016-09-10 20:11] beryllium commented on #315
Hmm, that's three things. Oops.

[2016-09-10 20:31] TomasVotruba commented on #315
@beryllium Ah, I don't see "Loose Ends" section being relevant, as it is promise to the future, not explanation why the project is less maintained.

Thanks for feedback, I'll try to write more specific question next time.

Who is both on the team and active (= responding to issues/PRs)?
I'd like to help with development.

[2016-09-13 18:39] tchalvak commented on #315
If you want to contribute, just fork it & go, there's always time later to run a PR back here of the fork.  *shrugs*

[2016-09-14 06:23] TomasVotruba commented on #315
That's truth. I might go this way, wanted to try it here first. At the moment I'm finishing fork of CodeSniffer

[2016-10-03 08:52] wanashi commented on #91
Although it has passed a long time,  this plugin may helps you. https://github.com/rocketage/sculpin_multilingual

[2016-10-03 21:38] raphaeldealmeida commented on #297
Please update the "get started" https://sculpin.io/getstarted/
This is  throwing error still

[2016-10-04 06:25] vrkansagara commented on #297
hum!!

[2016-10-16 18:42] badpenguin commented on #308
Can you reopen? I found that the loop problems happens if i've 15 files in _portfolio with 14 files it does not loop. Could it be related to some pagination problem?

[2016-10-16 18:51] WyriHaximus commented on #308
Sounds like it, assuming your pagination is set to 15

[2016-10-16 23:14] badpenguin commented on #308
I have no pagination set. How can i set pagination for the portfolio custom type?

[2016-10-17 01:32] beryllium commented on #308
There's a [$maxPerPage option for the pagination generator](https://github.com/sculpin/sculpin/blob/master/src/Sculpin/Bundle/PaginationBundle/PaginationGenerator.php#L45) ... but it looks like the configuration for it sets the [default to 10](https://github.com/sculpin/sculpin/blob/master/src/Sculpin/Bundle/PaginationBundle/DependencyInjection/Configuration.php#L35). So it might not be pagination

[2016-10-17 07:07] badpenguin commented on #308
I'm unable to use the GIT version, if i run i get error about missing bundle
i've downloaded the phar version the old way and on 5.6

[2016-10-20 17:22] badpenguin commented on #308
ok i restricted the problem, its not related to pagination but to the MetaSorter.

I've this service config:
sculpin_content_types.types.portfolio.collection.sorter:
        class: Sculpin\Contrib\ProxySourceCollection\Sorter\MetaSorter
        arguments:
            - date
            - asc

If i've a "portfolio" item with "draft: true" it start to loop.

If i omit "draft" or i remove the MetaSor

[2016-10-20 17:32] badpenguin commented on #308
Within MetaSorter there is nothing that can trigger the bug. So the problem is within Sculpin itselfs.
The problem happens only when order is ASCending , i.e. reverse=true

[2016-10-23 12:26] ChristianRiesen commented on #249
@WyriHaximus Ping?
Anything need changing on here?

[2016-10-26 20:47] ChristianRiesen commented on #315
@beryllium @simensen Is there something I can actively do to help? Like a actionable problem that needs solving? I'd love to contribute some time to sculpin as it has solved a whole bunch of problems for me in the past year or so, very beautifully.

[2016-10-28 17:19] mattstein opened #317 "Support re-use of source for alternate output"
I'm not sure whether this is user error, a bug, or a feature request: I'd like to re-output blog posts with a separate URL and template scheme for [Google AMP](https://www.ampproject.org/), which is basically a stripped-down alternate HTML presentation of news articles catering to mobile visitors—and of course Google.

The goal: continue serving posts at `/blog/{{slug_filename}}`, with AMP markup

[2016-10-28 19:54] WyriHaximus commented on #317
I'll have a go at this as well, been planning to make my blog AMP supportive as well

[2016-10-30 16:25] steverhoades opened #318 "sculpin fails to run from vendor/bin directory after a composer install"
Error described in title.

[2016-10-31 17:40] j-danner commented on #318
I have a similar issue, not sure if it is related, with sculpin failing to run after composer install.

Execute:
`vendor/bin/sculpin generate --watch --server`

Returns:
`Fatal error: Call to a member function getPrettyVersion() on a non-object in vendor/sculpin/sculpin/src/Sculpin/Bundle/SculpinBundle/Console/Application.php on line 57`

Note this is being attempted on Windows.

[2016-12-15 23:22] dennisdegreef opened #321 "Provide binary hashes"
Could you please provide hashes of the distributed binaries so I can verify the curl call actually pulled in the binary intended for distribution? Prefered format is sha256. `shasum -a 256 sculpin.phar`.

There are multiple solutions for this problem, but providing it in a release commit as CHECKSUMS.txt or similar would be a great improvement!

If you want to take this further, I can pitch in on

[2016-12-15 23:31] dennisdegreef opened #322 "PHP7 compatability"
Hi, it seems that PHP7 doesn't like a third party library using the pharchive.

It seems the third party library fixed this issue by renaming the `String.php` class to `StringConstraint.php`, thus it may be a simple composer update to fix :)

[code]

[code]

[2016-12-16 14:39] Incognito commented on #322
How is composer working in php7? It used to be a phar.

[2016-12-16 14:44] simensen commented on #322
Sculpin no longer supports `phar` distribution. Please see: https://blog.sculpin.io/2016/08/31/deprecating-phar-distribution-and-embedded-composer

[2016-12-16 14:44] #322 closed

[2016-12-16 16:05] beryllium commented on #321
Sculpin is no longer being distributed as a .phar. Instructions on upgrading to the Composer-based installation method are located at the bottom of this blog post: https://blog.sculpin.io/2016/08/31/deprecating-phar-distribution-and-embedded-composer

[2016-12-17 21:53] dennisdegreef commented on #321
Thanks for the reply! This would be nice to add in the README I guess

[2016-12-21 17:46] igorsantos07 opened #323 "Clean deletes folder: dangerous for submodules"
I'm implementing a Sculpin site using GitHub pages. It needs the static files in the root of a repository (in case of @username pages), and thus I've set the `output_prod` folder to be a submodule referencing the actual GHPages repository.

However, running `sculpin generate --clean --env=prod` deletes the `output_prod` folder itself, thus deleting the entire submodule tree. That's quite dangerous

[2016-12-23 09:28] davedevelopment commented on #323
I'm generally agreeable, but I must admit I have deliberately had sculpin create hidden files (.htaccess springs to mind), which I would want to be deleted.

[2016-12-23 14:25] Incognito commented on #323
Is sculplin git-agnostic?

[2016-12-23 14:48] simensen commented on #323
@Incognito Sculpin is indeed git-agnostic.

@davedevelopment Same here.

@igorsantos07 I think that having Sculpin delete the directory itself is probably not necessarily required. However, simply not deleting "output_prod" doesn't seem like that would be safe enough for you as deleting the contents of output_prod would also delete your submodules git metadata, correct?

It seems like the best sol

[2016-12-24 21:18] igorsantos07 commented on #323
100% agreed with you, @simensen :)

From my tests, the only thing that must be kept for the submodule to stay alive is the root's .git* and the folder's .git. The root one specifies git information and .gitmodules defines the state of the submodules; the folder's .git specifies that module's configs. As long as it's there, git knows how to update the folder and so on.

[2016-12-24 23:54] Incognito commented on #323
I wonder if the files could be merged with a sort of skeleton directory. Does that suit the need?

[2016-12-25 05:23] igorsantos07 commented on #323
I'm sorry @Incognito, I think I didn't follow your idea.

[2016-12-26 05:58] edwardhew commented on #318
you have to add php in front of that command, but that will most likely lead to another problem on Windows, which I have.
[code]
The problem immediately after running above:
[code]

[2016-12-29 18:31] zvidakovic commented on #318
Just create your own bootstrap file sculpin.php in your root folder, and place following code

[code]

and now you can call it like `php sculpin.php generate`. With 5 mins of debugging you can find out that `prettyVersion()` thingie is caused on Win in
[code]
On Win, paths are built like C:\WIN\PATH (not Unix style), and also, at that point, the path is actually the correct one. Just modify it lik

[2016-12-30 21:57] mattstein commented on #317
Did you ever get a chance to try out AMP support, @WyriHaximus?

[2017-01-01 16:16] WyriHaximus commented on #317
@mattstein yes sorry, it's not as easy as I hoped but. I got the post listing working. Currently figuring out how to get the posts in, which seems harder then I initially thought

[2017-01-02 20:11] simensen commented on #323
@igorsantos07 Are you going to try and implement this on your own?

[2017-01-17 22:52] gugglegum commented on #318
Hi! I had all the same issues described here. And last fix with `strtoupper(substr(PHP_OS, 0, 3)) !== 'WIN'` helped. I think all these issues related to Windows platform. If fix was so easy, why not to commit this fix to dflydev/embedded-composer?

[2017-01-19 15:51] prabhukhanna opened #324 "s3 upload from Jenkins"
Hi, It's great working in sculpin.
I am trying to upload sculpin site from jenkins to my s3 bucket using Jenkins post build action. I am being stopped by an error **Caused by: java.io.FileNotFoundException: /var/jenkins_home/workspace/ci-build/vendor/bin/sculpin (No such file or directory)** and in my jenkins build, I could see the empty file.

[2017-01-19 16:10] beryllium commented on #324
Hi there - it sounds like "composer install" might need to be run before running the sculpin command (last year sculpin switched from phar distribution to using composer install, so the scripts were updated to run `vendor/bin/sculpin`)

[2017-01-19 16:11] beryllium commented on #324
Oh, sorry, I missed the part about the empty file. It should have stub code in it for launching sculpin. Maybe there's a read protections issue when running composer install, resulting in a blank file being written? Odd.

[2017-01-19 16:31] prabhukhanna commented on #324
@beryllium Thanks for your reply. I did an composer update now. Still I am ending up with an empty file.
![screenshot from 2017-01-19 21-57-27](https://cloud.githubusercontent.com/assets/8287746/22115345/9a8c88ba-de92-11e6-85fb-a9e4f2faecc7.png)

[2017-01-19 17:23] simensen commented on #324
@prabhukhanna Can you look into vendor/bin and see what those links look like? On console, it would be `ls -l` to see where the files link... Would be curious to know what vendor/sculpin/sculpin looks like, and in particular, vendor/sculpin/sculpin/bin directory.

[2017-01-19 18:24] prabhukhanna commented on #324
@simensen I have attached the screenshot of vendor/bin console command.
![screenshot from 2017-01-19 23-46-47](https://cloud.githubusercontent.com/assets/8287746/22119440/a8e3826a-dea1-11e6-979b-b2a452e79edc.png)

Actually, there was an .git folder inside /vendor/sculpin/sculpin I have deleted and it worked fine for me. All the files and folders are uploaded to my s3 bucket.

Can SCULPIN be used a

[2017-01-19 18:30] prabhukhanna commented on #324
@simensen I have attached the screenshot of vendor/bin console command.
![jenkins](https://cloud.githubusercontent.com/assets/8287746/22119911/5ad8f9ea-dea3-11e6-892e-1c4704160ca3.png)

Actually, there was an .git folder inside /vendor/sculpin/sculpin I have deleted and it worked fine for me. All the files and folders are uploaded to my s3 bucket.

**Can SCULPIN be used as s3 Static Website ? I ha

[2017-01-19 18:35] simensen commented on #324
@prabhukhanna You'd only want to upload the contents of output_prod to s3, not the whole repository. You can look at the simple publish.sh from the blog skeleton to get the basic example. In your case you would only be uploading to s3 instead of using rsync, but it shows that it is doing rsync on the output_prod dir instead of the whole project.

https://github.com/sculpin/sculpin-blog-skeleton/bl

[2017-01-19 19:17] zvidakovic commented on #318
It's because I am lazy.

[2017-02-26 14:54] alpham8 opened #326 "need category listing in layout"
Hi,

I have an major issue: I was not able to find any method to get the category listing inside my twig layout.

I think this is should be an common issue and many other site designers should have been alrady run in it, sadly.

So, please tell us, how to include these categories variables inside our twig layout. The issue itself sounds easy to resolve, but I could not figure out how...

Any help

[2017-02-26 16:36] beryllium commented on #326
You mean, you want to output a list of all categories? The blog/categories.html page in the skeleton does this, I believe, but I don't know if the data itself is accessible on every page.

https://github.com/sculpin/sculpin-blog-skeleton/blob/master/source/blog/categories.html

[2017-02-26 16:42] alpham8 commented on #326
@beryllium Yes, exactly. I would like to have the content of blog/categories.html in the default layout.

I tried to access these data via the --- use yaml statement (the same as in the blog/categories.html), but it didn't work. I could also need a sum per category of the blog posts. But this is not important in the first step.

I am familiar with Symfony and Twig. So, setting a Twig variable to a

[2017-02-27 17:42] simensen commented on #326
@alpham8 This is not currently very easy or possible. It would require the categories to be considered global in order to be injected into every possible source. This is not supported for now. It may in the future, but it will take time and may never happen.

Another solution would be to do some sort of javascript magic to get the list of categories via AJAX but a lot of people are not happy with

[2017-02-27 17:42] #326 closed

[2017-02-27 17:44] simensen commented on #324
@prabhukhanna I'm going to close this for now. Please add more comments if you still need help with this.

[2017-02-27 17:44] #324 closed

[2017-02-27 18:46] Xerkus opened #327 "[v3] Bump minimum php version to 7"
Should next major sculpin version be bumped to PHP 7?

[2017-02-27 19:12] beryllium commented on #327
Which version of PHP comes with MacOS Sierra?

[2017-02-27 21:48] Xerkus commented on #327
Not a MacOS user. Couldn't modern php be installed via brew?

[2017-02-28 00:49] Xerkus commented on #323
I believe proper approach is not to have anything volatile in output_*

Here is my build and deploy script. It is a sloppy example, but still might be interesting for you: https://github.com/Xerkus/Xerkus.github.io/blob/18612560ada6549ae2f8be6a44a917872211c542/build.sh

[2017-02-28 04:13] beryllium commented on #327
Yes, there are several ways to install it. I'm on board with making 7 the minimum, I was just momentarily concerned with appealing to a slightly wider (if dated) user base. We have bigger fish to fry for making Sculpin easy to work with, though.

[2017-02-28 04:27] Xerkus commented on #327
Would it happen that docker is a thing among that userbase?

[2017-02-28 04:39] Incognito commented on #327
Mac users can install PHP7 via brew or source.
Should be possible via:
[code]

+1 Docker. You may need to do something with volumes to export files from a container to the host.

[2017-02-28 12:17] #275 closed

[2017-03-05 01:30] #321 closed

[2017-03-05 02:23] Xerkus commented on #244
as of now two packages at dev stability are required: sculpin itself and embedded composer.

[code]
Embedded composer is deprecated and will be removed in v3

[2017-03-08 06:36] #327 closed

[2017-03-09 00:26] atelierbram commented on #63
I understand this is about a build-in solution, but now that [gh-pages publishing has become much simpler](https://github.com/blog/2228-simpler-github-pages-publishing) with GitHub's default `docs` folder, maybe an option for easily configuring a different name for the `output_prod/_posts`  folder could be one "work around'. (Maybe the option is already available, but I couldn't find one. Using th

[2017-03-09 00:57] Xerkus commented on #63
@atelierbram i will take a look for a way to change output folder for a target, in the meantime you can symlink docs/ to output_prod/

[2017-03-09 07:26] Xerkus commented on #63
@atelierbram output can be set to docs/ via `sculpin.output_dir` config option in `sculpin_kernel.yml`, but as far as i can tell, there is no way to set per target output directory currently.

[2017-03-09 07:44] #244 closed

[2017-03-09 12:32] atelierbram commented on #63
@Xerkus Thanks for your research; I am going to look into this.

[2017-03-09 13:56] Incognito commented on #63
This is exciting and one of the original features I wanted early on.

[2017-03-10 06:42] Xerkus opened #337 "[v3] Update twig/twig to 2.*"
Sculpin is currently incompatible with twig v2

[2017-03-10 10:38] carbontwelve commented on #323
Off topic, but @Xerkus you need to start blogging again ;)

[2017-03-11 12:54] atelierbram commented on #63
@Xerkus I tested this and it works, great! @Incognito exciting indeed!

An option to omit this `_posts` -directory as a wrapper for the posts _would_ be great for this use case, so yes please ;)

Maybe too makeshift for some, but as far as I am concerned this issue is solved and can be closed, but should be documented, something like;

### Publishing on Github's with gh-pages

Simplest way to publ

[2017-03-12 02:48] Xerkus opened #339 "[v3] migrate to symfony 3"
tracking issue

[2017-03-12 08:37] Xerkus commented on #295
should be fixed in current master

[2017-03-12 08:37] #295 closed

[2017-03-13 02:08] #179 closed

[2017-03-13 02:36] Xerkus commented on #276
This should now be fixed
Can you please confirm?

[2017-03-13 02:45] #222 closed

[2017-03-13 02:47] #223 closed

[2017-03-13 04:52] #152 closed

[2017-03-16 08:17] #337 closed

[2017-03-16 08:18] #339 closed

[2017-03-17 15:08] TwanoO67 opened #342 "Can only use sculpin.phar with json"
Hello guys,

Documentation tell that it is not necessary to have a sculpin.json if the project don't need extra librarys.
But the sculpin.phar won't run without it.

( We are using Sculping with composer on local for developpement, and sculpin.phar in CI deployment, so without that we have to keep both json in project... )

[2017-03-22 14:46] Xerkus commented on #342
Phar distribution is deprecated and discontinued. You should use composer to install it as a regular dependency

[2017-03-22 14:47] TwanoO67 commented on #342
It's the case in our developpement env.
But the Phar version is quicker and easier for continous integration purpose

[2017-03-22 15:10] Xerkus commented on #342
Embedded composer is dropped from the next version in development and phars are no longer released.
Here you can read more:
https://blog.sculpin.io/2016/08/31/deprecating-phar-distribution-and-embedded-composer

All i can recommend is to setup shared composer cache on ci server and use composer.lock to prevent unnecessary network usage.
On my old hdd laptop:

[code]

[2017-03-22 15:10] #342 closed

[2017-03-23 18:42] jkufner commented on #270
Whhat you are looking for is continuous integration. Once you have CI set up, you can edit your website via web interface of your repository (Github or Gitlab, for example) and then let CI to rebuild and deploy your website.

[2017-04-10 22:28] DjThossi commented on #314
Hey

I have a similar issue with pagination. My source file is called index.html.twig
After generating paginated pages I have following structure
- blog/index.html
- blog/2/index.html.twig/index.html
- blog/3/index.html.twig/index.html
- blog/4/index.html.twig/index.html

If I rename my source file to index.html it will correct.
- blog/index.html
- blog/2/index.html
- blog/3/index.html
- blog/4/in

[2017-04-23 09:59] BrianDGLS commented on #191
Hi,

I've add #347 to try and tackle this.

I'm new to PHP so feedback appreciated.

Thanks.

[2017-04-23 10:05] BrianDGLS commented on #249
Looks like #313 has been merged, so this can be closed.

[2017-05-23 10:07] dbu opened #348 "[documentation] improve documentation how to build custom types"
The section https://sculpin.io/documentation/content-types/custom-types/ is rather sketchy. It should explain in more detail how providers and generators work and where each template has to be placed.

[2017-05-24 16:01] jorenvanhee opened #349 "Files ignored by git should also be ignored by default"
I use vim, so if I open `_posts/post.md`, this file is added `_posts/.post.md.swp`. Sculpin processes this file, but it should be ignored.

I have added this to my config file `ignore: ["**/*.swp"]`, but it would be nice if files ignored by git, would also be ignored by sculpin.

[2017-07-05 07:38] melihovv opened #350 "How can I register my custom function for twig?"
According to twig documentation I should write
[code]
And then I can use it in twig template like so
[code]

Where/how can I register my custom function for twig?

[2017-07-26 20:47] jhall39 opened #351 "The SSL certificate for sculpin.io is expired."
Chrome users can't view your website. Looks like it was only valid until 7/21/2017.

[2017-07-29 01:53] csf30816 commented on #351
Yes, I can not see the page :(

[2017-07-29 02:48] dragonmantank commented on #351
It has expired, and we are in the process of moving hosts + getting that renewed. It shouldn't be much longer. I've just now gotten reliable internet back, so we are working on it!

[2017-07-30 04:11] dragonmantank commented on #351
The website has finished migrating to the new host, which has Let's Encrypt set up to renew the SSL cert automatically.

[2017-07-30 04:11] #351 closed

[2017-08-28 02:15] burning-brush opened #352 "'source_view_paths' vs 'view_paths'"
The documentation says to use this in the sculpin_kernel.yml to change view directories.
[code]
But as far as I can tell this doesn't actually change any of the template directories. It was only after I dug through the configuration file for the twig extension that I found another node for `source_view_paths`. Using this in the config changes the template directories the way the documentation desc

[2017-10-29 20:19] opdavies commented on #350
I've done that this week for my site, by adding a custom bundle - in this case `FormatTalksBundle`. You can see it at https://github.com/opdavies/oliverdavies.uk/tree/master/src/FormatTalksBundle.

`SculpinFormatTalksBundle.php` is the entry point, `DependencyInjection/SculpinFormatTalksExtension.php` is loaded and includes `Resources/config/services.yml`, which includes my custom filters in `Twig

[2017-10-29 20:22] opdavies commented on #314
Duplicate of #172?

[2017-10-29 20:23] opdavies commented on #217
+1 for this feature.

[2017-10-29 23:07] melihovv commented on #350
@opdavies thank you very much!

I made bundle for laravel mix() helper https://github.com/melihovv/melihovv.github.io/blob/ae8e779e4c692914cbf7af507499389b37d79596/src/LaravelMixBundle/Twig/LaravelMixExtension.php

Now my template
[code]
transforms to
[code]

[2017-10-29 23:07] #350 closed

[2017-10-30 00:28] opdavies commented on #350
Good job! 😄

[2017-10-30 01:58] opdavies opened #353 "Load site variables programmatically?"
I've written some custom Twig filters on my site (https://raw.githubusercontent.com/opdavies/oliverdavies.uk/master/src/FormatTalksBundle/Twig/FormatTalksExtension.php) to format talks data as needed to generate a talks table.

Currently I have to pass in the talk data depending on the context, and the global events data which is stored as `site.events` in `sculpin_site.yml` (there are two example

[2017-11-06 23:26] Jeeppler opened #354 "Minifiy HTML, JS, SVG and CSS for env=prod"
Is there a way to minify HTML, JS, SVG and CSS when generating the page with sculpin for production?

[2017-11-07 13:21] opdavies commented on #354
There's not a way I know of to do this within Sculpin, I've done this though using a build tool like Gulp or a custom npm script. For my site (https://github.com/opdavies/oliverdavies.uk), I keep the original versions in `./assets` and move them into `./source/assets/css` etc with npm where Sculpin compiles from - these directories are in my `.gitignore` file though so you won't see those in the r

[2017-11-12 04:39] dragonmantank commented on #354
I'm going to mark this as an Enhancement request.

This is a bit of tooling I'd love for us to ship with, or at least an easy way to wire into an existing build process. Right now I do something similar to @opdavies, where I have a script that builds the JS, builds Sculpin, and then moves things into the `output_*` folder. Works well enough, but I'd like something better that is built in.

[2017-11-13 01:49] simensen commented on #354
My two cents: the PHP tools to do the work JavaScript people have been doing for a long time have never seemed to catch up, stay updated, or been 100% compliant. Finding a pure PHP solution that lives in Sculpin would be awesome, but using other tools that are already good at that is going tog et you there faster.

I want to work this into a blog post, but for an idea how to handle local dev vs pr

[2017-11-13 14:48] WyriHaximus commented on #354
Personally I'm using my own simple HTML compressor on generation time: https://github.com/WyriHaximus/html-compress-sculpin

[2017-11-14 13:54] Jeeppler commented on #354
@WyriHaximus I really like your solution. This is more or less what I was looking for.

[2017-12-12 18:00] alexfornuto commented on #308
I'm also having issues with an infinite loop using `--watch`. Sculpin is used to power the [Pantheon Documentation](https://github.com/pantheon-systems/documentation).

With `--verbose` on, I sat that sculpin was "detecting changes" on a small, seemingly random subset of docs:

[code]

I haven't yet found a common link between these files. When I remove `date: 9/27/2016` from the header of the fir

[2018-01-22 20:53] RedactedProfile opened #357 "Composer Deprecations and Abandoned Dependency"
Howdy

When executing `composer install`, this is the output I see. Lots of a composer complaining about a single deprecation error, and a notice at the bottom about using `guzzle\guzzle`, should be upgraded to use `guzzlehttp\guzzle` instead

[code]

[2018-01-22 20:59] RedactedProfile opened #358 "Sculpin Vendor bin script errors"
Hi there,

Following the getting started guide, when I try to execute any of the script, it either errors out or just outputs the content of the file.

**Environment**:
**OS**: Windows 10
**PHP**: PHP 7.1
**Shell**:  Windows Command Prompt and Powershell 6.0

For example,

---

Command: `.\vendor\bin\sculpin.bat generate`
Output:
[code]
---

Command: `php .\vendor\bin\sculpin.php generate`
Output:

[2018-02-05 21:45] Crell opened #361 "Support non-dated data source files"
I've been experimenting with Sculpin for a more complex-structure site, but not a blog.  The use case I have in mind is a Knowledge Base site, which would entail a large number (hundreds) of individual articles with lots of tagging and index building.  However, none of the content would be dated, as none of it is blog-feed-style.

From my discussion with @dragonmantank, it appears that's not possi

[2018-02-06 01:45] beryllium commented on #361
I've been using a Sculpin site as a knowledge base for a few months now, and haven't had an issue. My files are not dated. They are markdown files with front matter that specifies the layout, and they render to HTML files with HTML extensions.

Posts are disabled in the `sculpin_kernel.yml` file.

I've just run a local test and it looks like `.md` files without the required frontmatter will render

[2018-02-12 18:23] Crell commented on #361
After further investigation, the issue was that I had not specified a layout for the content type.  The documentation didn't say I needed to, but apparently that's required.  After I added `layout: default` to my content type it started rendering properly. 🤷‍♂️

[2018-02-16 16:31] Tejes commented on #358
Use the develop branch (which was meant to be 3.0 some time I guess), they dropped embedded Composer there. It works for me on Win10 with Git-Bash and PHP 7.1.

[2018-02-16 16:34] Tejes commented on #357
Also this doesn't happen to me on the develop branch of sculpin. Maybe they should release a new minor version out of it, to at least keep this project usable for not-too-brave people as well. :)

[2018-02-16 17:11] Tejes commented on #305
Maybe I'm late, but for the record, you can implement this without an external bundle. Either create a new layout, or just put this snippet in your default layout's `<head>`:
[code]
Then create a new md or html file for the redirect, specify the layout you chose and also a redirect tag:
[code]

[2018-02-19 15:49] Tejes opened #362 "Modifying a layout does not rebuild in watch mode"
When I run Sculpin with `vendor/bin/sculpin generate --watch --server` and modify a template in the `_layouts` directory, a new build is triggered, but the modified content does not make it into the built result. If I abort and rerun Sculpin, everything is correct.

[2018-02-19 21:54] beryllium commented on #362
That sounds unusual. I'm not sure why it would trigger a new build without actually building from the new template content. I'll see if I can reproduce the issue tonight.

Out of curiosity, is the template you're modifying being directly referenced in the front matter of your content?

Also, does the template being modified extend from a different template file using the Twig `extends` flag?

(I a

[2018-02-20 08:50] Tejes commented on #362
Sorry for the missing details. I have Windows 10 and PHP 7.1.14, running in Git-Bash.
I'm using the develop branch (commit ef2c0a3f66261c01be3a254f5889045b911ae182 exactly) because master and 2.1.1 has some weird dependency issues.
The template is the only one currently, and therefore is referenced directly, no extension involved.

[2018-02-21 03:19] beryllium commented on #362
OK, so I was able to replicate the issue on Develop - but not on Master. Master seemed to work fine.

This barebones composer.json is able to install Sculpin 2.1.1 (which is pretty close to master):

[code]

Those two packages need to be interpreted at the same time by composer, or else they will start fighting over which version of `symfony/console` to install.

I'm hoping to remove the embedded-

[2018-02-23 06:22] beryllium commented on #362
The cause of this appears to be that the develop branch is using Twig V2, which has changed the way templates are cached. I've opened a PR that attempts to fix the issue, but it requires extra eyes just in case I've missed a safer or more future-proof way to fix things.

Thanks for filing the report, by the way. Hoping to get this resolved very soon.

[2018-02-23 09:01] carbontwelve commented on #354
There is a task runner like gulp/grunt written in PHP called [Robo](https://robo.li/) It's on my list of things to look at for one of my projects that should help with automating such things...

I personally use webpack for the majority of my projects ([example webpack script](https://github.com/tapestry-cloud/pure-blog-theme/blob/master/webpack.config.babel.js)) which builds from an `_assets`fold

[2018-02-28 02:52] dannybrown73 commented on #217
+1 for this feature.

[2018-02-28 14:58] dannybrown73 commented on #352
+1 Would be great to be able adjust view_paths.

[2018-03-04 16:21] lex111 opened #364 "Handle subdirectories"
How can I achieve this result **without** define own content type for each subdirectory? Currently is not this kind of support?

[code]
Generate in:

[code]

cc @beryllium

[2018-03-05 10:25] Tejes commented on #362
#363 solved the issue, thanks!

[2018-03-05 10:25] #362 closed

[2018-03-05 14:17] #364 closed

[2018-03-26 18:48] agbottan commented on #217
+1 for this feature.

[2018-03-26 20:45] beryllium commented on #217
Jonathan Wage recently blogged about an approach he took to work around this issue (and also to make Sculpin work nicely with github pages in Project Mode using the `docs` subfolder approach) - this approach might be helpful in the near-term until someone can add it to sculpin itself:

https://jwage.com/posts/2018/03/25/sculpin-watch-rebuild/

[2018-03-29 23:54] reinink commented on #85
I think we can close this issue. 😂

[2018-03-29 23:54] #85 closed

[2018-03-31 21:16] beryllium commented on #358
Work is now happening on 3.0.x in sculpin's dev-master. Maybe this issue can be closed? I don't currently have a Windows instance to test on.

[2018-04-01 21:53] beryllium opened #368 "YAML changes trigger Front Matter errors"
As part of the work on Sculpin 3.0, I've noticed a BC break where blog post titles with a colon in them cause a Parse Exception in the Symfony Yaml component.

This appears to be due to symfony/yaml 3.0 and higher being more strictly aligned with the YAML specification.

As noted in [this blog post](https://ourcodeworld.com/articles/read/89/important-tips-that-you-need-to-know-before-upgrade-your-

[2018-04-01 21:57] #361 closed

[2018-04-04 22:08] alexfornuto commented on #308
Any love for this issue?

[2018-04-05 00:06] beryllium commented on #308
I will take a look. Currently working toward Sculpin 3.0.0, so it would be really good to get this identified and fixed. Is it happening on the master branch of the Pantheon docs?

[2018-04-05 00:21] beryllium opened #369 "ThemeRegistry unexpectedly receives an object"
`ThemeRegistry.php:48` calls to `basename()` with `$directory`, but `$directory` is of type `SplFileInfo` instead of string. It implements toString, so it could be casted, or it could be handled directly.

[2018-04-05 05:17] beryllium commented on #308
OK, I've been looking into it and it seems a bit gnarly to unwind what's going wrong. I think I'm going to have to take some time to reproduce a viable minimum test case and then get that wired up in PHPUnit as part of the regular tests (well, technically in a separate suite dedicated to slow tests, but that's an unrelated detail). It will likely take longer than I anticipated. ☹️

[2018-04-05 06:30] beryllium commented on #368
Further thinking and discussion has brought me to the conclusion that this should just be noted in the `CHANGELOG .md` as a BC break. Perhaps someone can write a gist utility to convert existing frontmatter to the new format if a colon is detected.

[2018-04-06 12:10] Tejes commented on #358
Following the getting started guide and installing the blog skeleton throws no error now, only a lot of deprecations as described in sculpin/sculpin-blog-skeleton#49. This way the user gets `2.1.1` as of now.

Requiring Sculpin itself in a brand new project still not works straightforward however. Composer sets the version requirement to `^2.1` with stability defaulting to stable. When I try to fi

[2018-04-06 15:39] alexfornuto commented on #308
@beryllium Thanks so much for looking into this! Sorry for having to ask stupid questions, but would I just put that file into the project root and go?

[2018-04-07 04:52] beryllium commented on #308
Basically, yes. You'd invoke it with `php watch.php`.

You'd probably have to update line 3 (`$buildScriptPath = __DIR__.'/build.sh dev';`) to run the sculpin generate command (or write a `build.sh` script to do the generate).

[2018-04-09 16:56] muuvmuuv opened #371 "Posts in folders"
I'm trying to create myself a web blog and want to include images to my blog posts, so I created a new folder into my _posts-folder and give it the same name as the .md file inside it. Then I put some images in my posts folder and linked them in the .md-file.
When I'm not trying to fetch the posts I get twice the posts I really have on my _posts-folder. Is it not possible to have posts-folder or d

[2018-04-12 21:28] alexfornuto commented on #308
P.S. It would be swell if we could adjust it so `watch.php` didn't peg one of my cores.

[2018-04-14 06:00] beryllium commented on #371
When I set up my blog (whateverthing.com), I took this approach to posts:

[code]

And then I used relative paths to point to them in regular html/markdown. When I wanted to reference something in the post template, rather than in the post itself, I used the front-matter for the post to store the image url:

[code]

And then in the HTML for the post template I could reference it like `{% if page.i

[2018-04-14 18:28] muuvmuuv commented on #371
Thank you for the quick response @beryllium ! Unfortunately not, that is exactly how I do it right now… but I hope that this is going to be a feature in the future. It would be really useful because I use sculpin for my companies portfolio page right now (no need for a CMS).

[2018-04-16 20:15] linuxdoesrock commented on #318
The fix worked for me right away.

[2018-04-19 14:11] #318 closed

[2018-04-19 14:12] simensen commented on #318
This should be workable in the most recent `@dev` version of embedded composer.

[2018-04-24 00:15] stof commented on #358
This issue has been fixed in https://github.com/dflydev/dflydev-embedded-composer/pull/22 for people using Sculpin 2.x

[2018-04-27 00:09] beryllium commented on #308
Ah, glad that sleep was able to help. If you're on a unix/linux system, the `nice` command might also help.

[2018-06-10 21:00] arysom commented on #63
[Here's](https://gist.github.com/arysom/bb77da6f55b8e5d9ee7e50c798c63fec) my take on publish to github pages. I've used link pointed by mdrmike 's as inspiration and some generator that already breathes sculpin's neck, with one force.

I know you may not like, that the source of the blog is XX commit's behind master etc. but for me it's simple and ok. The directory goes as a subtree to master.

[2018-08-19 10:32] tricoos opened #384 "TWIG errors not shown / empty content / mcaros"
It appears that if you have an error in an included TWIG template no error is shown whatsoever. Instead the whole page becomes a "white page" in the browser with not a single byte of content. If this happens in the default/main template then all of the pages are completely empty.

This happens (at least) if you include a twig template in the default template for example:
`{% import "fileWithErrors

[2018-08-31 22:37] edmundofuentes commented on #314
I'm doing a workaround for this by recursively renaming all the files that are wrongfully generated as `.html.twig` to `.html`. This is the command:

[code]

This works on macOS High Sierra, I run this command in the `output_prod` directory after the `sculpin generate` process is done and right before publishing it to Netlify.

[2018-08-31 22:37] edmundofuentes commented on #172
My current workaround is to rename the `.html.twig` files after they are generated with a simple script: https://github.com/sculpin/sculpin/issues/314#issuecomment-417806311

[2018-09-08 04:29] beryllium commented on #384
OK, it looks like some of the exception handlers in `src/Sculpin/Bundle/TwigBundle/TwigFormatter.php' don't pass the exceptions up into other areas the application.

[code]

You can see there that it just catches any exceptions (including Twig syntax error exceptions) and prints out an error to the console.

It would definitely help for there to be better error management in cases like this. Exiti

[2018-10-03 05:55] beryllium commented on #369
Fixed in #372

[2018-10-03 05:55] #369 closed

[2018-10-12 22:41] opdavies opened #393 "Fatal error: Undefined class constant 'PARSE_EXCEPTION_ON_INVALID_TYPE' caused by adding YAML front matter"
I'm getting the following error when attempting to compile a new Sculpin site:

[code]

It's an issue that I first noticed on my https://github.com/opdavies/sculpin-skeleton project, but I've replicated it using a brand new installation following the instructions on https://sculpin.io/download/#download-via-composer, though I've tried it with `^2.1` as there is a public release rather than the dev

[2018-10-13 00:37] beryllium commented on #393
This is an issue with sculpin’s usage of the symfony yaml component - passing a Boolean was deprecated in a version of the component, so Sculpin was upgraded to use the constant, but the constant doesn’t exist in the earlier versions of the component.

In other words, composer.json and composer.lock are applying the wrong lower bound to the symfony/yaml package, IIRC. I’d like to get it fixed in a

[2018-10-13 06:07] beryllium commented on #393
Well, I think I was quite wrong with that suggestion. Still investigating.

[2018-10-13 06:29] beryllium commented on #393
Ah, here's a working workaround:
`composer require "dflydev/dot-access-configuration v1.0.2"`

I think I'll do a 2.1.2 release tonight to fix this.

[2018-10-13 06:29] beryllium commented on #393
And thanks for highlighting this issue! I had heard something was acting up but wasn't able to isolate it.

[2018-10-13 06:44] beryllium commented on #393
OK, I think it is fixed now (with the release of Sculpin 2.1.2). A local test seems to confirm. Thanks again for filing the issue!

[2018-10-13 06:44] #393 closed

[2018-10-13 11:04] opdavies commented on #393
Yep, is working after a `composer update`. Thanks @beryllium!

[2018-12-17 20:53] beryllium commented on #121
Looks as though this has been fixed for a bit. Closing.

[2018-12-17 20:53] #121 closed

[2019-01-31 20:58] xy2z opened #403 "[3.0.0-rc1] Didn't find at least one of this type : posts"
Getting this error when trying to do the Hello World basic project: https://sculpin.io/documentation/basic-project/
Version: 3.0.0-rc1

When I run `vendor\bin\sculpin.bat generate --watch --server` it keeps giving this error:
`Didn't find at least one of this type : posts`

This is my composer.json:
[code]

[2019-01-31 22:51] beryllium commented on #403
Ah, yes, that guide is not very thorough when it comes to creating the supporting files necessary to render blog posts. To spin up those supporting files, you could try using the `vendor/bin/sculpin content:create posts --boilerplate` command to create the missing files.

Alternatively, the [sculpin blog skeleton](https://github.com/sculpin/sculpin-blog-skeleton) is a starting point for blogs.

If

[2019-02-13 07:05] beryllium opened #404 "Idea: Replace assetic with Webpack"
Not sure if folks are using assetic (I haven't been), but webpack seems to be the way forward. Perhaps even with [Encore](https://symfony.com/doc/current/frontend/encore/installation.html), the Symfony tool for Webpack.

[2019-02-13 07:07] beryllium opened #405 "Idea: Live editor for pages and posts/custom content."
In `generate --watch --server` mode it might be helpful to have some way of editing the site within the browser. Particularly if it could handle errors more gently than Sculpin currently does, in case a typo causes a crash and leaves the web browser disconnected.

[2019-02-13 07:10] beryllium opened #406 "Idea: Refactor some internals to reduce complexity"
It can be quite difficult to understand how all the pieces of Sculpin fit together - in fact, it seems a bit more difficult than is necessary for what the tool does. This is partly because it's based on earlier versions of Symfony, partly because it used to be oriented around being a phar (with embedded composer), and partly because some of the internals are just ... tangled.

When starting on a r

[2019-02-13 07:12] #88 closed

[2019-02-13 07:14] beryllium commented on #95
Closing because this seems to be reasonably solved in Sculpin 2 and 3. Not sure about the mixing of types, though, that might require a new issue.

[2019-02-13 07:14] #95 closed

[2019-02-13 07:33] #107 closed

[2019-02-13 07:36] #118 closed

[2019-02-13 07:49] beryllium commented on #405
A minimum initial implementation of this would be to do a "live reload" instead of full live editing. This was first suggested in issue https://github.com/sculpin/sculpin/issues/217

[2019-02-13 07:50] beryllium commented on #250
This was neither clear nor an easy pick, but it's in Sculpin 3.0RC1 (after some ugly hacks) so closing this issue. :)

[2019-02-13 07:50] #250 closed

[2019-02-13 07:52] beryllium commented on #273
I think this is fixed in Sculpin 3.0RC1, but leaving issue open because I'm not 100% sure yet.

[2019-02-13 14:58] Stanton opened #408 "Allow registration of namespaced paths"
Currently attempting to create a namespaced path: https://symfony.com/doc/4.1/templating/namespaced_paths.html and doesn't seem to be possible but please advise if I'm incorrect.

Would expect something along the lines of:

[code]

[2019-03-11 14:38] dbu opened #414 "delete develop branch?"
The develop branch is quite a bit behind master. when requiring `"sculpin/sculpin": "^3.0@dev"`, you end up with the develop branch, because it is aliased to 3.1. however, master is more up to date and there is nothing in develop yet that is not also in master. therefore i suggest to delete the develop branch.

[2019-03-11 17:13] beryllium commented on #414
This should be resolved now.

[2019-03-11 17:13] #414 closed

[2019-03-12 16:37] dbu commented on #406
one offender seems to me how converters are registered for the sources. we have https://github.com/sculpin/sculpin/blob/cb82b08f77a951c06d4c9ceb3dba0c7c2d1baee2/src/Sculpin/Bundle/SculpinBundle/DependencyInjection/Compiler/CustomMimeTypesRepositoryPass.php which in the end sets the parameter that is used by the converter itself: https://github.com/sculpin/sculpin/blob/cb82b08f77a951c06d4c9ceb3dba0

[2019-03-20 17:37] #404 closed

[2019-03-29 06:31] beryllium commented on #384
This has been addressed in the latest dev-master (and soon, the next RC of Sculpin 3) - now a red error message will show up and indicate the offending file. Thanks for the bug report!

[2019-03-29 06:31] #384 closed

[2019-03-29 08:34] dbu commented on #358
@beryllium i think this can be closed now

[2019-03-29 08:36] dbu commented on #354
the sculpin skeleton is now using webpack (through symfony encore). not sure if minification is on by default, but if somebody would want to invistigate that, and/or update the documentation for this it would be cool.

[2019-03-29 08:38] dbu commented on #357
@beryllium what is left to release 3.0 stable? anything beyond the currently open pull requests? (and i guess the pull requests from 2016/2015 should just be closed)

[2019-04-08 06:29] beryllium opened #426 "BUG IN RC4: Site Configuration Not Working!"
Looks like the wrong rootDir is being passed to SiteConfigurationFactory, which results in `app/config/sculpin_site.yml` being silently ignored.

This needs a test to ensure that the configuration is being invoked, and a bugfix ASAP.

RC3 would pass a rootDir that looks like this:

    /Users/username/Projects/blog.sculpin.io/app

RC4 is passing a rootDir that looks like this:

[code]

[2019-04-08 06:43] beryllium commented on #426
Seems related to #420

[2019-04-08 06:50] beryllium commented on #426
Patched in RC5 (429bcff) but a test still needs to be added.

[2019-04-10 21:15] alexfornuto opened #427 "content:create not modifying/creating sculpin_kernel.yml"
1. Install Sculpin to an empty directory with Composer:

[code]
2. Generate new content type:

[code]

No file created:

[code]

3. Generate paths/file manually and try again:

[code]
content still isn't there:

[code]

Where is the config going?

[code]

[2019-04-10 21:19] alexfornuto commented on #427
Additional information:

[code]

[2019-04-10 21:20] beryllium commented on #427
Ah! Sorry, content:create is not currently able to modify the file directly (some files are more complex than others), so it outputs the YAML to the screen and instructs users to add it to the sculpin_kernel.yml file by hand.

The real usefulness of the create command is in the `-b` flag, which I should have made the default: it generates roughed-in template files for the new content type and asso

[2019-04-10 21:21] alexfornuto commented on #427
Yea... I just noticed that and was going to close this issue in shame before I notice. Thanks!

[2019-04-10 21:21] #427 closed

[2019-04-10 21:23] beryllium commented on #427
Thank you for filing the issue, it gives me an idea of how I can improve this feature.

[2019-04-10 21:23] #426 closed

[2019-04-10 21:24] alexfornuto commented on #427
@beryllium hey while I have you, how does one add multiple options to `-t`?

[2019-04-10 21:27] beryllium commented on #427
Ah! Another excellent question. It looks like the way to do that would be passing it multiple times:

    vendor/bin/sculpin content:create docs -b -t product -t year

[2019-04-10 21:55] alexfornuto commented on #308
I'm still seeing this issue when testing a new build using Sculpin 3. Is there any hope in sight? Anything i can edit about my content types to avoid it?

[2019-04-10 22:16] beryllium commented on #308
Hmm, that's unfortunate that it didn't get solved. Was the `nice` command at least able to help with the CPU usage issue?

I'll add some labels to the issue to make sure it's on the front burner.

[2019-04-10 22:31] alexfornuto commented on #308
@beryllium My ultimate solution to that was to containerize the entire stack in Docker. It's a whole production. The sheer number of pages being rendered constantly by Sculpin makes `--watch` unusable, as does the lacking functionality to only render changed pages locally.

Unfortunately I'll need to look into other generators for my site rebuild.

[2019-04-11 19:39] beryllium commented on #308
Still investigating, but I've managed to get a repro case working, which will be helpful. One thing I noticed: if the environment is set to "prod", the drafts get ignored and the problem goes away. This might be specific to the particular way I was able to reproduce the issue, though.

[code]

[2019-04-12 15:22] alexfornuto commented on #308
My docs config, when migrated to a Sculpin 3 build, still loops when building `prod`.

[2019-04-12 16:46] beryllium commented on #308
Ah, unfortunate. Well, the repro case I was able to get working seems directly related to MetaSorter and it seems easiest to trigger when the key I'm sorting on has a number of identical items.

My test case is one where I have 17 "projects" and 9 or 10 of them all have the exact same "title". If it's less than 9 or 10, it seems to be fine. Still narrowing down the exact problem area.

[2019-05-06 14:52] dragonmantank opened #432 "Sources without an extension generate error in `FormatterManager::formatBlocks()`"
When upgrading my site to v3, running `vendor/bin/sculpin generate --watch --server` threw the following error:

`Exception: Argument 2 passed to Sculpin\Core\Formatter\FormatterManager::formatBlocks() must be of the type string, null given`

This stopped processing, and left anything after a specific file with no content. The server started just fine, but it died generating any more output. The p

[2019-05-06 17:22] beryllium commented on #432
Looks like this only happens for items that belong to a content type (e.g., `_posts`). I am a bit torn on the way forward - e.g., should it assume that they are all md files? - but the short term fix should be getting it to catch or prevent the exception so that the subsequent files don't break. I'll work on this.

[2019-05-08 08:50] Tejes commented on #432
Assuming that every file is markdown looks like a bad idea to me. I think
the short-term fix should leave those there, generate a warning or info
message and proceed normally. In the longer term an option to what to do
with these would be great. I think copying them to somewhere could be a
good feature for some use cases too.

Kevin Boyd <notifications@github.com> ezt írta (időpont: 2019. máj. 6.,

[2019-05-09 07:48] beryllium commented on #432
Agreed, it's not a good idea to blindly treat things as markdown.

One thing I've observed while investigating this issue is that while a normal content type might get written out as `output_dev/blog/postname/index.html`, these failed content type files would instead get written out as `output_dev/_posts/postname`. That's wrong to such a degree that I think the correct behaviour would be not writi

[2019-05-24 15:43] kclarkson opened #434 "After Deleting Example Posts and Added New Ones - Argument 2 passed error FormatterManager::formatBlocks"
Steps to reproduce my error.

1. `composer create-project sculpin/blog-skeleton myblog`
2. cd my blog
3. composer sculpin-watch   message `Method Composer\Config::disableProcessTimeout is not callable, cannot call sculpin-watch script`
4. delete example files from Posts
5. Add any of the example files back to post or create new post
6. I receive the following error.

[code]

[2019-05-24 15:45] kclarkson commented on #434
Related issue but does not have anything to do with extensions. https://github.com/sculpin/sculpin/issues/432#issue-440738883

[2019-05-24 16:03] beryllium commented on #434
In my testing, the only way I received the error you're seeing (even after copying `_posts` back, creating a blank post, and creating a post with just YAML front matter and a blank line), was by editing one of the posts in `vim`. Vim creates a parallel `.swp` file by default, and Sculpin is apparently attempting to render that (and failing). Could this be similar to what you're seeing?

[2019-05-24 16:12] beryllium commented on #434
Ah, I see that the `.swp` file actually starts with a period - meaning, it should be hidden. And it does get hidden by the `ls` command. I'll work on a PR to make sculpin ignore hidden files (at least in content generators).

[2019-05-26 12:53] kclarkson commented on #434
@beryllium I don't use vim at all. I was deleting the files with Finder and then just doing undo in the directory. Or I created a new file with Visual Studio Code.

[2019-05-26 14:48] beryllium commented on #434
Thanks, this extra info will help me narrow down the issue :)

[2019-05-26 15:19] kclarkson commented on #434
@beryllium by the way. I was at phpTek and got a chance to meet Beau and he was nice enough to take a quick look, this also stumped him  :)

I really appreciate all of the work you all have done with Sculpin. I would love to help with documentation and maybe some custom themes.  Thanks again!

[2019-05-26 15:28] beryllium commented on #434
Happy to hear that! There's a PR on the sculpin-blog-skeleton repo at the moment for porting it to TailwindCSS, you might be interested in trying that out :)

I wasn't able to attend phpTek, but it sounded like a blast.

[2019-05-26 15:30] beryllium commented on #434
Oh, btw, thanks for the tip about Finder causing this. I was able to replicate it that way. Looking into the cause now.

[2019-05-26 15:38] beryllium commented on #434
*facepalm*

Well, the main cause seems to be `.DS_Store`. Hah.

[2019-05-27 04:24] beryllium commented on #432
Sculpin 3.0.2 has just been released, and it contains a fix for this issue. Please test it out and confirm that it addresses things adequately.

[2019-05-27 04:24] #432 closed

[2019-05-27 04:25] beryllium commented on #434
Thanks so much for your help in reporting this. I've just released Sculpin 3.0.2 with a fix for this issue. Please test it out and confirm that it addresses things adequately.

[2019-05-27 04:25] #434 closed

[2019-05-29 09:56] kclarkson commented on #434
@beryllium just wanted to let you know, that I downloaded skeleton and changed the version number in the composer file to 3.0.2. Everything works great. Really appreciate the help.

[2019-06-21 07:34] opdavies commented on #172
I understand that this was fixed in v3.

I've created a new repository at https://github.com/opdavies/sculpin-pagination-test based on the blog skeleton where I've renamed `index.html` to `index.html.twig`, and can confirm that the files in the `output_dev/page/*` directories have the correct `.html` extension.

![Screenshot 2019-06-21 at 08 33 23](https://user-images.githubusercontent.com/339813/

[2019-06-21 07:35] opdavies commented on #314
I've done some testing, and updated #172.

[2019-06-21 07:38] opdavies commented on #172
@beryllium I believe that this is outdated, and can be closed.

[2019-06-21 07:38] opdavies commented on #314
@beryllium I believe that this can be closed.

[2019-06-21 07:55] opdavies commented on #354
I've done some testing with the Blog skeleton, and can confirm that running `yarn encore prod` does generate a minified file (`source/build/app.567744c2.css`).

It doesn't seem that the skeleton is set up to load the versioned file though as `default.html` is hard-coded to load `build/app.css`.

@beryllium I'd suggest this issue is either moved to the https://github.com/sculpin/sculpin-blog-skelet

[2019-06-21 08:03] opdavies commented on #217
@beryllium Maybe another one to move to https://github.com/sculpin/sculpin-blog-skeleton, where we could maybe use Browsersync or similar within Encore?

[2019-06-21 08:51] opdavies commented on #312
@beryllium Should be moved to https://github.com/sculpin/sculpin-blog-skeleton?

[2019-06-21 08:55] opdavies commented on #293
@georgjaehnig I created a package for this - https://packagist.org/packages/opdavies/sculpin-twig-markdown-bundle. You can see it on my site (https://github.com/opdavies/oliverdavies.uk) as an example.

I'd like to see something maybe added to core for this though, maybe.

[2019-06-26 02:20] beryllium commented on #172
Thanks, @opdavies :)

[2019-06-26 02:20] #172 closed

[2019-06-26 02:21] beryllium commented on #314
Thanks!

[2019-06-26 02:21] #314 closed

[2019-06-26 02:28] beryllium commented on #354
The minified version not being properly loaded by the skeleton is a separate issue.

For sculpin projects created from scratch, the current option for asset management is to implement using off-the-shelf tooling (such as webpack or webpack-encore) which writes to `source/`, so it then gets incorporated into the `sculpin generate` command's generated output. This would typically be managed by updat

[2019-06-26 02:28] #354 closed

[2019-06-26 02:31] beryllium commented on #217
Actually, this is one that I'd like to leave in "sculpin proper", because I think portions of it could be accomplished in a way that benefits users of many sculpin configurations. I have a couple of branches I'm working on which have functionality like Live Editing and Live Reloading injected into the generate output when in `--server` mode. Leaving open for now.

[2019-06-26 02:34] beryllium commented on #312
Yep, seems more appropriate there. The content generated by the sculpin `init` command doesn't have this meta tag.

[2019-08-13 15:54] zkwbbr opened #435 "Generate partial content in atom feed?"
Hello. Is it possible to make the atom feed only show partial content instead of the whole blog post?

[2019-08-13 15:56] beryllium commented on #435
Yes, it should be possible to do this using Twig filters to truncate the content at a certain point (and perhaps insert a "Read More" link).

Slice filter: https://twig.symfony.com/doc/2.x/filters/slice.html

[2019-08-13 17:35] zkwbbr commented on #435
That worked. I didn't know the atom feed was actually a template too.

[2019-08-13 17:42] #435 closed

[2019-08-27 18:27] peter279k opened #436 "The problem of netcarver/textile dependency"
As title, it seems that this dependency is the forked repository of `textile/php-textile`.

And it seems that this forked dependency has been inactive for the whiles and the original repository has been active.

I think we should depend on the active repository if possible instead of relying on the inactive dependency.

[2019-09-06 20:10] gocom commented on #436
"textile/php-textile":https://github.com/textile/php-textile/blob/master/composer.json is published as `netcarver/textile` on Packagist; same cool-aid is being sipped by Sculpin. The name of the package, and the used namespace, is like that for retaining backwards compatibility.

[2019-09-07 02:07] peter279k commented on #436
Hi @gocom, thanks for your reply and explanation.

Now I have no problem. Thanks :).

[2019-09-07 02:07] #436 closed

[2019-12-22 08:03] Incognito commented on #63
There's an interesting solution a jekyll user is using, which is 100% compatible with sculpin.

https://devlopr.netlify.com/guides/2019/05/21/deploy-blog-using-devlopr-jekyll-and-github-pages/

[2019-12-25 02:34] cup opened #440 "Phar"
Should be a Phar release for those who wish to do that

[2019-12-28 01:35] ghost opened #441 "Include other files"
Currently it seems it is not possible to include a file, is that the case? Other
projects have this built in:

https://gohugo.io/functions/readfile

[2019-12-28 01:35] #440 closed

[2019-12-28 02:59] beryllium commented on #441
Sculpin uses the Twig template engine, which has an `include` function as documented here: https://twig.symfony.com/doc/3.x/functions/include.html

For content that you don't want rendered out to HTML directly, you might want to put it in the `source/_includes` directory - I'm pretty sure that will make it available as an include without separately rendering the partial file.

[2019-12-28 03:12] cup commented on #441
@beryllium thanks, but it doesnt seem to work:

<pre>
$ cat source/_posts/2012-10-16-balrog.md
---
title: Balrog
tags: [balrog, community, static site generator]
---

[code]

$ cat source/_posts/day.php
<?php
echo "sunday monday\n";

$ vendor/bin/sculpin generate
Detected new or updated files
Generating: 100% (44 sources / 0.02 seconds)
Converting:  91%
In ChainLoader.php line 98:

  Template "day

[2019-12-28 04:03] beryllium commented on #441
This was more challenging than I expected at first. Putting the example `day.php` file in the `_posts` folder gave me a different (and much less helpful) error message than your example - I'll have to find a way to improve that.

Here is the approach I took to enable your example to work:

[code]

So it seems as though `_includes` is designated in the source as a folder containing twig includes. O

[2019-12-28 04:13] cup commented on #441
@beryllium thanks very much, but I dont think that is going to work for my use
case. `include` must be able to accept a relative path, or in the worst case
an absolute path. Further, the "fragments" must be allow to live next to the
files they would be included in. So something like this would need to be
supported:

[code]

I am using something like this now with Hugo, but I am looking to move awa

[2019-12-28 08:12] beryllium commented on #441
Looks like this isn't a use case that Sculpin would be able to support without an alternative approach (e.g., delving into the code to create a twig extension that acts like readFile - quite a hassle compared to an out-of-the-box solution, if one can be found).

Another issue is that the `_posts` folder (or any other Content Type's folder) is kind of treated like a database, so the engine doesn't

[2019-12-28 14:51] cup commented on #441
@beryllium thanks again for the fast and detailed response. It seems getting this to work with Sculpin would involve some significant initial overhead, I would have to think about the cost/benefit. Thanks again.

[2020-01-08 04:24] cup commented on #441
Darn, I thought I had something. I see reStructuredText has ability to include
files:

https://docutils.sourceforge.io/docs/ref/rst/directives.html#include

bypassing any need to Sculpin to do it. However RST is not supported with
Sculpin.

[2020-01-08 04:24] cup commented on #58
https://github.com/sculpin/sculpin/issues/441

[2020-01-08 04:24] cup commented on #441
https://github.com/sculpin/sculpin/issues/58

[2020-02-12 17:49] beryllium commented on #405
Closing due to some progress in #443

[2020-02-12 17:49] #405 closed

[2020-02-12 20:07] brooksvb opened #444 "Generator for an index of file downloads"
I want to have a directory that contains files for users to download on the website.
[code]

Webpage:
### Download files
* [File 1](#)
* [File 2](#)
* [File 3](#)

I figured that in order to accomplish this, I will need to extend Sculpin and write a custom generator. I've really struggled in figuring out where to even start in order to tie into the site generation since the documentation is so vag

[2020-02-12 21:04] beryllium commented on #444
A few questions:

1. Are you certain it needs to be a generator? From what I recall, these are generally intended to be used when assembling meta-lists, i.e., for pagination or taxonomies, and the data source is fed into them.

2. How many folders of files are you planning to have? Just one for PDFs, or multiple? Will it be a nested file structure?

One approach for the suggested use case (a list

[2020-02-13 07:05] beryllium commented on #444
So here's what I've come up with using a Twig function:

Append to **app/config/sculpin_kernel.yml**:
[code]

Create **app/FileListerTwigExtension.php**:
[code]

Add to the top of **app/SculpinKernel.php** (above the `class` defintion):
[code]

And finally, add this to the page you want to list the files on:

[code]

This will output a listing of all files in the `source/files/` folder.

It's quit

[2020-02-13 18:47] brooksvb commented on #444
I'm not super clear on the terminology used in Sculpin between generators and types and whatever. I thought that a generator would be a way to process and provide data to the template.

I can do the work to process the files and create some kind of data structure to be used in rendering, my issue was just figuring out how to get my logic tied into the Sculpin lifecycle.

It looks like your Twig ex

[2020-07-10 12:23] clement-michelet opened #447 "Generate with watch does not generate pages for new tags / categories"
Sculpin version: 3.0.3

# Reproductible steps

1. Add a post with a tag "foo" and a category "bar"
2. Launch generate command with `--watch` option
3. Update the post by adding a tag "baz" and a category "quz"

# Expected behavior

* Generate command should generate a category page "quz"
* Generate command should generate a tag page "baz"

# Actual behavior

* Category page "quz" is missing
* Tag

[2020-07-10 12:34] clement-michelet opened #448 "Slug category and tag url"
Using tags/categories with spaces and special characters (like with accents), it will generate unfriendly url for category/tag page.

**Examples :**

Tag `static site generator` will generate a page url `/blog/tags/static%20site%20generator/` which is a little bit unfriendly.
By using slug, it will generate a page url `/blog/tags/static-site-generator/` which is clean and clearer.

Tag `révolution

[2020-07-10 15:41] beryllium commented on #447
Thanks for this report, I'll look into it :) With the way the test suite works, I think it might be possible to create an integration test that reproduces the problem, which should make it easier to solve.

[2020-07-13 16:17] clement-michelet opened #449 "Markdown Side-by-side blockquote should not be merged"
Sculpin version: 3.0.3

Hello !

There is maybe an issue with php markdown parser library when rendering multiple blockquotes side-by-side.
I've checked on `php-markdown` library [demo](https://michelf.ca/projects/php-markdown/dingus/) and this is reproducible.

GFM render that as two blocks but it does not seems to have a consensus about how to render that (see [Dilinger](https://dillinger.io/),

[2020-09-19 12:13] opdavies opened #451 "A discussion on the next steps for Sculpin"
Following on from [this Twitter thread](https://twitter.com/Beryllium9/status/1306278671305437185), I'm looking for more hands-on experience with Symfony and its components, and Sculpin is a good suggestion as it's a project that I'm familiar with and use (I used it for my personal site for a number of years, I still use it for some client static sites, and have given talks on Sculpin before at Dr

[2020-09-20 14:29] beryllium commented on #451
It'll take me a few more days to get my thoughts in order for this (plans this weekend make it difficult to concentrate on tech :) ), but a couple of early, spur-of-the-moment thoughts:

### Internals

The sculpin internals are quite complex at the moment. They feel like a combination of event-driven programming and ... something else. I think this is a result of the way Sculpin is using Symfony.

[2020-09-23 20:17] dragonmantank commented on #451
So, I initially started dragonmantank/pamstack as a joke, but have been looking at extending this with Sculpin, and pushing out what amounts to a JAMStack layer but backed by PHP functions to Google Cloud Run.

It worked.

So now I'm actually looking at porting my site over to it, using Sculpin to generate the static files. It's mostly working, which I think is a testament to how well Sculpin work

[2020-09-23 22:41] WyriHaximus commented on #451
This has always made me wary of contributing more on a internals level of Sculpin, so if we can also address this it should be more fun to help out.

[2020-10-26 11:49] clue opened #454 "Installation broken with Composer 2 (sculpin/sculpin-theme-composer-plugin requires legacy composer-plugin-api)"
# Problem

Composer 2 has been released this weekend. Unfortunately, installing any Sculpin-based site currently fails when using Composer 2:

[code]

This weekend, Travis CI started shipping Composer 2 for PHP 7.4, so this has potential to break many existing builds. PHP 7.3 and older still use Composer 1 on Travis CI. Other CI systems may or may not make the same decision of course.

# Analysis

[2020-10-29 00:35] beryllium commented on #454
Thanks for this report! I've started a PR to get it fixed - and the suggested workaround was very helpful for getting some internal sculpin sites up and running at work this afternoon.

[2020-11-09 21:00] opdavies commented on #454
Likewise, I've been able to deploy some updates for a client site on Netlify, the build for which was failing.

[2020-11-29 19:09] beryllium opened #456 "Using Docker for Sculpin"
This issue is intended to be a discussion point for how we can use Docker with Sculpin.

Primary concerns:

* Delivering a stable experience for users
* Handling complex site configurations, including possible multi-site configurations
* handling complex installations, with required PHP extensions & custom sculpin kernel & many composer deps

My hope is that all of this could be solved with a very

[2020-12-09 06:16] hopeseekr commented on #456
I just tried to dockerize Sculpin via the new semi-official "PHP-way" to dockerize apps:

    composer create-project sculpin/blog-skeleton my-blog
    cd my-blog
    yarn install
    composer sculpin-watch

Then run:

    ln -s output_dev public
    composer require --dev phpexperts/dockerize
    php vendor/phpexperts/dockerize/install.php
    docker-compose up -d

Worked like a champ.

Of course

[2021-04-11 13:05] bladedevleoper opened #461 "Posts all appearing in the home directory"
Hi All, kinda new to using Sculpin. great work by the way, nice and easy to use. I just have a question or two in regards to posts.

When I generate a post, I follow the guidance on the sculpin.o site, where it states to cd into the source directory then the _posts directory. Then touch with the name of the file (year-month-day-name-of-file.md). When I run sculpin generate and watch for any change

[2021-04-11 18:28] beryllium commented on #461
Hi there,

When using sculpin-blog-skeleton, the homepage will show the 3 most recent posts and provide pagination to access older posts.

If you want it to only show the latest post, edit the `source/index.html` file so that the top matter looks like this:

[code]

By changing `max_per_page` to 1, the homepage will only show the newest post, and provide links to view older posts.

Hopefully this

[2021-04-11 21:53] bladedevleoper commented on #461
Hi Beryllium, thank you for your reply and it has helped me out a treat, Is this currently on the sculpin guiance? Greatly appreciated the help here.

Kind regards,
bladedev